<div class="page page-single-order">
  <!-- page header -->
  <div class="pageheader">
    <h2>{{page.title}} <span>// {{page.subtitle}}</span></h2>
    <div class="page-bar">
      <ul class="page-breadcrumb">
        <li>
          <a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{main.title}}</a>
        </li>
        <li>
          <a ui-sref="app.trace.list">Trace</a>
        </li>
        <li>
          <a ui-sref="javascript:;">{{page.title}}</a>
        </li>
      </ul>
    </div>
  </div>
  <!-- /page header -->
  <!-- page content -->
  <div class="pagecontent">
    <div class="add-nav">
      <div class="nav-heading">
        <h3>Transaction number : <strong class="text-greensea">#{{ transaction.reference }}</strong></h3>
        <span class="controls pull-right">
          <a href="javascript:;" ng-if="transaction.etat.id==1" class="btn btn-ef btn-ef-1 btn-ef-1-danger btn-ef-1a btn-rounded-20 mr-5" uib-tooltip="Reject" ng-click="reject()"><i class="fa fa-times"></i></a>
          <a href="javascript:;" ng-if="transaction.etat.id==1" class="btn btn-ef btn-ef-1 btn-ef-1-success btn-ef-1a btn-rounded-20 mr-5" uib-tooltip="Confirm" ng-click="confirm()"><i class="fa fa-check"></i></a>
          <a href="javascript:;" ng-if="transaction.etat.id!=1" class="btn btn-ef btn-ef-1 btn-ef-1-default btn-ef-1a btn-rounded-20 mr-5" uib-tooltip="Send" ng-click="sendMail();"><i class="fa fa-envelope"></i></a>
          <a href="javascript:window.print()" ng-if="transaction.etat.id!=1" class="btn btn-ef btn-ef-1 btn-ef-1-default btn-ef-1a btn-rounded-20" uib-tooltip="Print"><i class="fa fa-print"></i></a>
        </span>
      </div>
      <uib-tabset>
        <uib-tab heading="Details">
          <!-- row -->
          <div class="row">
            <!-- col -->
            <div class="col-md-12">
              <!-- tile -->
              <section class="tile time-simple">
                <!-- tile body -->
                <div class="tile-body">
                  <!-- row -->
                  <div class="row">
                    <!-- col -->
                    <div class="col-md-7">
                      <p class="text-default lt">Created: {{ transaction.dateCreation | date:"EEEE MMMM dd yyyy 'at' h:mma" }} </p>
                      <p class="text-uppercase text-strong mt-40 mb-0 custom-font">Status</p>
                      <h4 class="text-uppercase text-{{ colors[transaction.etat.id] }} mt-0 mb-20">{{ transaction.etat.libelle }}</h4>
                    </div>
                    <!-- /col -->
                    <!-- col -->
                    <div class="col-md-5">
                      <p class="text-uppercase text-strong mb-10 custom-font">Customer</p>
                      <ul class="list-unstyled text-default lt mb-25">
                        <li><strong class="inline-block w-xs">Name:</strong> {{ transaction.clientPrenom }} {{ transaction.clientNom }}</li>
                        <li><strong class="inline-block w-xs">Address:</strong> {{ transaction.clientAddress }}</li>
                        <li><strong class="inline-block w-xs">Phone:</strong> {{ transaction.clientTelephone }}</li>
                        <li><strong class="inline-block w-xs">Email:</strong> <a href="javascript:;">{{ transaction.clientEmail }}</a></li>
                      </ul>
                    </div>
                    <!-- /col -->
                  </div>
                  <!-- /row -->
                  <!-- row -->
                  <div class="row b-t pt-20">

                    <!-- col -->
                    <div class="col-md-4 b-r">
                      <p class="text-uppercase text-strong mb-10 custom-font">Order Details</p>
                      <ul class="list-unstyled text-default lt mb-20">
                        <li><strong>ID:</strong> <a href="javascript:;">{{ transaction.reference }}</a></li>
                        <li>{{ transaction.date}} </li>
                        <li>{{ transaction.clientPrenom }} {{ transaction.clientNom }}</li>
                        <li>{{ transaction.clientAddress }}</li>
                        <li>CANADA</li>
                      </ul>
                    </div>
                    <!-- /col -->
                    <!-- col -->
                    <div class="col-md-4 b-r">
                      <p class="text-uppercase text-strong mb-10 custom-font">
                        Address
                      </p>
                      <!-- col -->
                      <div class="col-md-6">
                        <ul class="list-unstyled text-default lt mb-20">
                          <li>{{ transaction.beneficiairePrenom }} {{ transaction.beneficiaireNom }}</li>
                          <li>{{ transaction.beneficiaireTelephone }}</li>
                          <li>{{ transaction.beneficiairePays }}</li>
                        </ul>
                      </div>
                    </div>
                    <!-- /col -->
                    <!-- col -->
                    <div class="col-md-4">
                      <p class="text-uppercase text-strong mb-10 custom-font">Delivery & Payment</p>
                      <ul class="list-unstyled text-default lt mb-20">
                        <li><strong>Transfert type:</strong> {{ transaction.transfertType == 1 ? 'Classical' : 'TAC' }}</li>
                        <li><strong>Transfert mode:</strong> {{ transaction.transfertMode == 1 ? 'Amount to send' : 'Amount to receive' }}</li>
                      </ul>
                    </div>
                    <!-- /col -->
                  </div>
                  <!-- /row -->
                </div>
                <!-- /tile body -->
              </section>
              <!-- /tile -->
            </div>
            <!-- /col -->
          </div>
          <!-- /row -->


          <!-- row -->
          <div class="row">
            <!-- col -->
            <div class="col-md-6 price-total">

              <!-- tile -->
              <section class="tile tile-simple bg-tr-black lter">

                <!-- tile body -->
                <div class="tile-body">

                  <ul class="list-unstyled">
                    <li style="line-height:3"><strong class="inline-block w-sm mb-5">Amount sent:</strong> {{ transaction.montantEnvoye | currency}}</li>
                    <li style="line-height:3"><strong class="inline-block w-sm mb-5">Transfert Fees:</strong> {{ (transaction.commissionBoutique + transaction.commissionSociete) | currency}}</li>
                    <li style="line-height:3"><strong class="inline-block w-sm mb-5">Amount received:</strong> <h4 class="inline-block text-success">{{ transaction.beneficiaireMontant }} FCFA</h4></li>
                  </ul>

                </div>
                <!-- /tile body -->

              </section>
              <!-- /tile -->

            </div>
            <!-- /col -->
            <div class="inline-block col-md-12" style="text-align: left;font-size: smaller">Effective Change: $ {{ exchangerate }}</div>
          </div>
          <!-- /row -->

        </uib-tab>
      </uib-tabset>
    </div>
  </div>
  <!-- /page content -->
</div>
