<div class="page page-orders">
  <!-- page header -->
  <div class="pageheader">
    <h2>{{page.title}} <span> {{page.subtitle}}</span></h2>
    <div class="page-bar">
      <ul class="page-breadcrumb">
        <li>
          <a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{main.title}}</a>
        </li>
        <li>
          <a href="javascript:;">Calculator</a>
        </li>
        <li>
          <a ui-sref="app.calculator">{{page.title}}</a>
        </li>
      </ul>
    </div>
  </div>
  <!-- /page header -->
  <!-- page content -->
  <div class="pagecontent">
    <!-- row -->
    <div class="row">
      <!-- col -->
      <div class="col-md-12">
        <form name="formulaire" >
          <!-- tile -->
          <section class="tile" fullscreen="isFullscreen01">
            <!-- tile header -->
            <div class="tile-header dvd dvd-btm">
              <h1 class="custom-font">
                Fees <strong>Calculator</strong>
              </h1>
              <ul class="controls">
                <li><a href tile-control-toggle> <span class="minimize"><fa
                        name="angle-down"></fa>&nbsp;&nbsp;&nbsp;Minimize</span> <span
                        class="expand"><fa name="angle-up"></fa>&nbsp;&nbsp;&nbsp;Expand</span>
                </a></li>
                <li><a href tile-control-fullscreen
                       ng-click="isFullscreen01 = !isFullscreen01"> <fa
                        name="expand"></fa> Fullscreen
                </a></li>
              </ul>
            </div>
            <!-- /tile header -->
            <!-- tile body -->
            <div class="tile-body">
              <div class="form-message"
                   ng-class="{'error' : error, 'success': !error}"
                   ng-show="message !== null">{{ message }}</div>

              <div class="row">
                <div class="form-group col-sm-6" ng-class="{ 'has-error': form.beneficiairePays.$dirty && form.beneficiairePays.$error.required }">
                  <select ng-value="item.id" class="form-control mb-10" ng-options="item.libelle for item in arrCountry" ng-model="formExtra.beneficiairePays" required>
                    <option value="">Choose Country ...</option>
                  </select>
                  <span ng-show="form.beneficiairePays.$dirty && form.beneficiairePays.$error.required" class="help-block">Country is required</span>
                </div>
              </div>

              <div class="row">
                <div class="form-group  col-sm-6">
                  <select class="form-control mb-10" name="type" ng-model="form.type" ng-dropdown required>
                    <option value="">Select a type ...</option>
                    <option ng-option value="Cashing" selected>Vers un compte Orange Money (Cashing)</option>
                    <option ng-option value="Tac">Vers un compte Orange Money (Cashout)</option>
                  </select>
                </div>
              </div>

              <div class="row">
                <div class="form-group col-sm-3">
                  <label>Amount to send <input type="radio" ng-model="form.mode" value="1"></label><br/>
                </div>
                <div class="form-group col-sm-3">
                  <label>Amount to receive <input type="radio" ng-model="form.mode" value="2"></label><br/>
                </div>
              </div>

              <!--  -----------CASHING----------- -->

              <div class="row tile-body"  id="cashing" ng-if="form.type == 'Cashing'">
                <div class="row col-md-12" ng-if="form.mode == '1'">
                  <div class="row">
                    <div class="form-group col-md-12 legend">
                      <h5><strong>VERS UN COMPTE ORANGE MONEY (Cashing)</strong></h5>
                      <p>Le bénéficiaire devra prévoir des frais pour le cashout</p>
                    </div>
                  </div>

                  <div class="row">
                    <div class="form-group col-sm-3">
                      <label>Montant à envoyer (CAD) <input type="text" name="amounttosend"
                                          class="form-control underline-input" placeholder="Amount CAD" ng-model="form.amounttosend" numbers-only ng-change="CalculateClassic()"></label>
                    </div>
                    <div class="form-group  col-sm-3" ng-if="currentUser.role == user_role.ROLE_ADMIN">
                      <label>1 CAD = </label>  <label style="color:red" > {{cadtoxof}} XOF</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-sm-3"  ng-if="currentUser.role == user_role.ROLE_ADMIN">
                      <label>Frais Orange Money (CAD)<input type="text" name="omfees" numbers-only
                             class="form-control underline-input" ng-model="form.omfees" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" disabled></label>
                    </div>
                    <div class="form-group col-sm-3" ng-if="currentUser.role == user_role.ROLE_ADMIN">
                      <label>Frais transfert mobile (CAD)<input type="text" name="mobiletransfertfees" numbers-only
                             class="form-control underline-input" ng-model="form.mobiletransfertfees" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" disabled></label>
                    </div>
                    <div class="form-group col-sm-3">
                      <label>Frais de transfert (CAD)<input type="text" name="transfertfees" numbers-only
                             class="form-control underline-input" ng-model="form.transfertfees" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" disabled></label>
                    </div>
                    <div class="form-group col-sm-3" style="background-color: yellow;">
                      <label style="color: #428bca; font-weight: bold">Total à payer (CAD)<input type="text" name="amouttopaid" numbers-only
                             class="form-control underline-input" ng-model="form.amouttopaid" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" disabled style="color: #428bca; font-weight: bold"></label>
                    </div>
                    <div class="form-group col-sm-3">
                      <label>Montant à recevoir compte OM (XOF)<input type="text" name="omreceivedamount" numbers-only
                                                  class="form-control underline-input" ng-model="form.omreceivedamount" disabled></label>
                    </div>
                    <div class="form-group col-sm-3">
                      <label>Taux de change effectif 1 CAD (XOF)<input type="text" name="exchangerate" numbers-only
                                                                 class="form-control underline-input" ng-model="form.exchangerate" disabled></label>
                    </div>
                  </div>
                </div>

                <div class="row col-md-12" ng-if="form.mode == '2'">
                <div class="row">
                  <div class="form-group col-md-12 legend">
                    <h5><strong>VERS UN COMPTE ORANGE MONEY (Cashing)</strong></h5>
                    <p>Le bénéficiaire devra prévoir des frais pour le cashout</p>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-sm-3">
                    <label>Montant à recevoir compte OM (XOF)<input type="text" name="r_omreceivedamount" numbers-only
                                                                    class="form-control underline-input" ng-model="form.r_omreceivedamount" ng-change="CalculateClassicReceived()"></label>
                  </div>
                  <div class="form-group  col-sm-3" ng-if="currentUser.role == user_role.ROLE_ADMIN">
                    <label>1 CAD = </label>  <label style="color:red">{{cadtoxof}} XOF</label>
                  </div>
                </div>
                <div class="row">
                <div class="form-group  col-sm-3">
                  <label>Montant à envoyer (CAD) <input type="text" name="r_amounttosend"
                                                        class="form-control underline-input" placeholder="Amount CAD" ng-model="form.r_amounttosend" numbers-only disabled ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"></label>
                </div>
                <div class="form-group col-sm-3" ng-if="currentUser.role == user_role.ROLE_ADMIN">
                  <label>Frais Orange Money (CAD)<input type="text" name="r_omfees" numbers-only
                                                        class="form-control underline-input" ng-model="form.r_omfees" disabled ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01"></label>
                </div>
                <div class="form-group col-sm-3" ng-if="currentUser.role == user_role.ROLE_ADMIN">
                  <label>Frais transfert mobile (CAD)<input type="text" name="r_mobiletransfertfees" numbers-only
                                                            class="form-control underline-input" ng-model="form.r_mobiletransfertfees" disabled ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01"></label>
                </div>
                <div class="form-group col-sm-3">
                  <label>Frais de transfert (CAD)<input type="text" name="r_transfertfees" numbers-only
                                                        class="form-control underline-input" ng-model="form.r_transfertfees" disabled ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01"></label>
                </div>
                <div class="form-group col-sm-3" style="background-color: yellow;">
                  <label style="color: #428bca; font-weight: bold">Total à payer (CAD)<input type="text" name="r_amouttopaid" numbers-only
                                                   class="form-control underline-input" ng-model="form.r_amouttopaid" disabled ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" style="color: #428bca; font-weight: bold"></label>
                </div>
                <div class="form-group col-sm-3">
                  <label>Taux de change effectif 1 XOF (CAD)<input type="text" name="r_exchangerate" numbers-only
                                                                   class="form-control underline-input" ng-model="form.r_exchangerate" disabled></label>
                </div>
              </div>
              </div>

              </div>

              <!--  -----------END CASHING----------- -->


              <!--  -----------TAC----------- -->

              <div class="row  tile-body" id="tac" ng-if="form.type == 'Tac'">

                <div class="row col-md-12" ng-if="form.mode == '1'">
                  <div class="row">
                    <div class="form-group col-md-12 legend">
                      <h5><strong>VERS UN COMPTE ORANGE MONEY (CASHOUT)</strong></h5>
                      <p>Le client prend en charge les frais pour le cashout</p>
                    </div>
                  </div>

                  <div class="row">
                    <div class="form-group  col-sm-3">
                      <label>Montant à envoyer (CAD) <input type="text" name="tacamounttosend"
                                                            class="form-control underline-input" placeholder="Amount CAD" ng-model="form.tacamounttosend" numbers-only ng-change="CalculateTac()"></label>
                    </div>
                    <div class="form-group  col-sm-3" ng-if="currentUser.role == user_role.ROLE_ADMIN">
                      <label>1 CAD = </label>  <label style="color:red">{{cadtoxof}} XOF</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-sm-3" ng-if="currentUser.role == user_role.ROLE_ADMIN">
                      <label>Frais Orange Money (CAD)<input type="text" name="tacomfees" numbers-only
                                                            class="form-control underline-input" ng-model="form.tacomfees" disabled></label>
                    </div>
                    <div class="form-group col-sm-3" ng-if="currentUser.role == user_role.ROLE_ADMIN">
                      <label>Frais transfert mobile (CAD)<input type="text" name="tacmobiletransfertfees" numbers-only
                                                                class="form-control underline-input" ng-model="form.tacmobiletransfertfees" disabled></label>
                    </div>
                    <div class="form-group col-sm-3">
                      <label>Frais de transfert (CAD)<input type="text" name="tactransfertfees" numbers-only
                                                            class="form-control underline-input" ng-model="form.tactransfertfees" disabled></label>
                    </div>
                    <div class="form-group col-sm-3" style="background-color: yellow;">
                      <label style="color: #428bca; font-weight: bold">Total à payer (CAD)<input type="text" name="tacamouttopaid" numbers-only
                                                                                                 class="form-control underline-input" ng-model="form.tacamouttopaid" disabled style="color: #428bca; font-weight: bold"></label>
                    </div>
                    <div class="form-group col-sm-3">
                      <label>Montant à recevoir cash (XOF)<input type="text" name="tacomreceivedamount" numbers-only
                                                                 class="form-control underline-input" ng-model="form.tacomreceivedamount" disabled></label>
                    </div>
                    <div class="form-group col-sm-3">
                      <label>Taux de change effectif 1 CAD (XOF)<input type="text" name="tacexchangerate" numbers-only
                                                                       class="form-control underline-input" ng-model="form.tacexchangerate" disabled></label>
                    </div>
                  </div>
                </div>

                <div class="row col-md-12" ng-if="form.mode == '2'">
                  <div class="row">
                    <div class="form-group col-md-12 legend">
                      <h5><strong>VERS UN COMPTE ORANGE MONEY (CASHOUT)</strong></h5>
                      <p>Le client prend en charge les frais pour le cashout</p>
                    </div>
                  </div>

                  <div class="row">
                    <div class="form-group  col-sm-3">
                        <label>Montant à recevoir cash (XOF)<input type="text" name="r_tacomreceivedamount" numbers-only
                                                                   class="form-control underline-input" ng-model="form.r_tacomreceivedamount" ng-change="CalculateTacReceived()"></label>
                    </div>
                    <div class="form-group  col-sm-3" >
                      <label ng-if="currentUser.role == user_role.ROLE_ADMIN">1 CAD = </label>  <label style="color:red" ng-if="currentUser.role == user_role.ROLE_ADMIN">{{cadtoxof}} XOF</label></br>
                    <label>Montant + Frais cashout = </label>  <label style="color:red">{{r_tacamoutfeescashout}} CAD</label>
                    </div>
                  </div>
                  <div class="row">
                <div class="form-group  col-sm-3">
                  <label>Montant à envoyer (CAD) <input type="text" name="r_tacamounttosend"
                                                        class="form-control underline-input" placeholder="Amount CAD" ng-model="form.r_tacamounttosend" numbers-only disabled></label>
                </div>
                <div class="form-group col-sm-3" ng-if="currentUser.role == user_role.ROLE_ADMIN">
                  <label>Frais Orange Money (CAD)<input type="text" name="r_tacomfees" numbers-only
                                                        class="form-control underline-input" ng-model="form.r_tacomfees" disabled></label>
                </div>
                <div class="form-group col-sm-3" ng-if="currentUser.role == user_role.ROLE_ADMIN">
                  <label>Frais transfert mobile (CAD)<input type="text" name="r_tacmobiletransfertfees" numbers-only
                                                            class="form-control underline-input" ng-model="form.r_tacmobiletransfertfees" disabled></label>
                </div>
                <div class="form-group col-sm-3">
                  <label>Frais de transfert (CAD)<input type="text" name="r_tactransfertfees" numbers-only
                                                        class="form-control underline-input" ng-model="form.r_tactransfertfees" disabled></label>
                </div>
                <div class="form-group col-sm-3" style="background-color: yellow;">
                  <label style="color: #428bca; font-weight: bold">Total à payer (CAD)<input type="text" name="r_tacamouttopaid" numbers-only
                                                   class="form-control underline-input" ng-model="form.r_tacamouttopaid" disabled style="color: #428bca; font-weight: bold"></label>
                </div>

                <div class="form-group col-sm-3">
                  <label>Taux de change effectif 1 XOF (CAD)<input type="text" name="r_tacexchangerate" numbers-only
                                                                   class="form-control underline-input" ng-model="form.r_tacexchangerate" disabled></label>
                </div>
              </div>
                </div>

              </div>

              <!--  -----------END TAC----------- -->


            </div>
          </section>
        </form>
      </div>
      <!-- /col -->
    </div>
    <!-- /row -->
  </div>
  <!-- /page content -->
</div>

