<div ng-controller="DashboardCtrl" class="page page-hz-menu">

  <div class="pageheader">

    <h2>{{page.title}} <span> {{page.subtitle}}</span></h2>

    <div class="page-bar">

      <ul class="page-breadcrumb">
        <li>
          <a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{main.title}}</a>
        </li>
        <li>
          <a ui-sref="app.dashboard">{{page.title}}</a>
        </li>
      </ul>

      <div class="page-toolbar">
        <a href="javascript:;" class="btn btn-lightred no-border" daterangepicker="rangeOptions" date-begin="startDate" date-end="endDate">
          <i class="fa fa-calendar"></i>&nbsp;&nbsp;<span>{{startDate}} - {{endDate}}</span>&nbsp;&nbsp;<i class="fa fa-angle-down"></i>
        </a>
      </div>

    </div>

  </div>

  <!-- cards row -->
  <div class="row" ng-if="numberChart==1">

    <!-- col -->
    <div class="card-container col-lg-3 col-sm-6 col-sm-12">
      <div class="card">
        <div class="front bg-greensea">

          <!-- row -->
          <div class="row">
            <!-- col -->
            <div class="col-xs-4">
              <i class="fa fa-users fa-4x"></i>
            </div>
            <!-- /col -->
            <!-- col -->
            <div ng-if="currentUser.role === user_role.ROLE_ADMIN" class="col-xs-8">
              <p class="text-elg text-strong mb-0">{{ number.cashier }}</p>
              <span>{{ 'Content.CASHIERS' | translate }}</span>
            </div>
            <div ng-if="currentUser.role === user_role.ROLE_CASHIER" class="col-xs-8">
              <p class="text-elg text-strong mb-0">{{ number.customer }}</p>
              <span>{{ 'Content.CUSTOMERS' | translate }}</span>
            </div>
            <!-- /col -->
          </div>
          <!-- /row -->

        </div>
        <div class="back bg-greensea">

          <!-- row -->
          <div class="row">
            <!-- col -->
            <div class="col-sm-12">
              <a href=javascript:;>
                <!-- row -->
                <div class="row">
                  <!-- col -->
                  <div class="col-xs-4">
                    <i class="fa fa-users fa-4x"></i>
                  </div>
                  <!-- /col -->
                  <!-- col -->
                  <div ng-if="currentUser.role === user_role.ROLE_ADMIN" class="col-xs-8" style="text-align: left">
                    <p class="text-elg text-strong mb-0">{{ number.cashier }}</p>
                    <span>{{ 'Content.CASHIERS' | translate }}</span>
                  </div>
                  <div ng-if="currentUser.role === user_role.ROLE_CASHIER" class="col-xs-8" style="text-align: left">
                    <p class="text-elg text-strong mb-0">{{ number.customer }}</p>
                    <span>{{ 'Content.CUSTOMERS' | translate }}</span>
                  </div>
                  <!-- /col -->
                </div>
                <!-- /row -->
              </a>
            </div>
            <!-- /col -->
          </div>
          <!-- /row -->

        </div>
      </div>
    </div>
    <!-- /col -->

    <!-- col -->
    <div class="card-container col-lg-3 col-sm-6 col-sm-12">
      <div class="card">
        <div class="front bg-lightred">

          <!-- row -->
          <div class="row">
            <!-- col -->
            <div class="col-xs-4">
              <i class="fa fa-shopping-cart fa-4x"></i>
            </div>
            <!-- /col -->
            <!-- col -->
            <div class="col-xs-8">
              <p class="text-elg text-strong mb-0">{{ number.transaction }}</p>
              <span>{{ 'Content.TRANSACTIONS' | translate }}</span>
            </div>
            <!-- /col -->
          </div>
          <!-- /row -->

        </div>
        <div class="back bg-lightred">

          <!-- row -->
          <div class="row">
            <!-- col -->
            <div class="col-sm-12">
              <a href=javascript:;>
                <!-- row -->
                <div class="row">
                  <!-- col -->
                  <div class="col-xs-6" style="text-align: center;border-right: dashed">
                    <p class="text-elg text-strong mb-0">{{ number.classical }}</p>
                    <span>{{ 'Content.CASHING' | translate }}</span>
                  </div>
                  <!-- /col -->
                  <!-- col -->
                  <div class="col-xs-6" style="text-align: center;border-left: dashed">
                    <p class="text-elg text-strong mb-0">{{ number.tac == null ? 0 : number.tac}}</p>
                    <span>{{ 'Content.TAC' | translate }}</span>
                  </div>
                  <!-- /col -->
                </div>
                <!-- /row -->
              </a>
            </div>
            <!-- /col -->
          </div>
          <!-- /row -->

        </div>
      </div>
    </div>
    <!-- /col -->

    <!-- col -->
    <div class="card-container col-lg-3 col-sm-6 col-sm-12">
      <div class="card">
        <div class="front bg-blue">

          <!-- row -->
          <div class="row">
            <!-- col -->
            <div class="col-xs-4">
              <i class="fa fa-usd fa-4x"></i>
            </div>
            <!-- /col -->
            <!-- col -->
            <div class="col-xs-8">
              <p class="text-elg text-strong mb-0">{{ number.amount|number:1 }}</p>
              <span>{{ 'Content.AMOUNT' | translate }}</span>
            </div>
            <!-- /col -->
          </div>
          <!-- /row -->

        </div>
        <div class="back bg-blue">
          <!-- row -->
          <div class="row">
            <!-- col -->
            <div class="col-sm-12">
              <a href=javascript:;>
                <!-- row -->
                <div class="row">
                  <!-- col -->
                  <div class="col-xs-12" style="text-align: center">
                    <p class="text-elg text-strong mb-0">{{ number.amount_xof|number:1 }}</br>FCFA</p>
                    <!--span>{{ 'Content.AMOUNT' | translate }}</span-->
                  </div>
                  <!-- /col -->
                </div>
                <!-- /row -->
              </a>
            </div>
            <!-- /col -->
          </div>
          <!-- /row -->
        </div>
      </div>
    </div>
    <!-- /col -->

    <!-- col -->
    <div class="card-container col-lg-3 col-sm-6 col-sm-12">
      <div class="card">
        <div class="front bg-slategray">

          <!-- row -->
          <div class="row">
            <!-- col -->
            <div class="col-xs-4">
              <i class="fa fa-usd fa-4x"></i>
            </div>
            <!-- /col -->
            <!-- col -->
            <div class="col-xs-8">
              <p class="text-elg text-strong mb-0">{{ number.commission|number:1 }}</p>
              <span>{{ 'Content.COMMISSIONS' | translate }}</span>
            </div>
            <!-- /col -->
          </div>
          <!-- /row -->

        </div>
        <div class="back bg-slategray">

          <!-- row -->
          <div class="row">
            <!-- col -->
            <div class="col-sm-12">
              <a href=javascript:;>
                <!-- row -->
                <div class="row">
                  <!-- col -->
                  <div class="col-xs-12" style="text-align: center">
                    <p class="text-elg text-strong mb-0">{{ number.commission_xof|number:1 }}</br>FCFA</p>
                    <!--span>{{ 'Content.COMMISSIONS' | translate }}</span-->
                  </div>
                  <!-- /col -->
                </div>
                <!-- /row -->
              </a>
            </div>
            <!-- /col -->
          </div>
          <!-- /row -->

        </div>
      </div>
    </div>
    <!-- /col -->

  </div>
  <!-- /row -->

  <!-- row -->
  <div class="row">

    <!-- col -->
    <div class="col-md-8">

      <!-- tile -->
      <section class="tile" fullscreen="isFullscreen01">


        <!-- tile body -->
        <div class="tile-body" ng-controller="ActualStatisticsCtrl">

          <!-- row -->
          <div class="row">


            <!-- col -->
            <div class="col-md-12 col-sm-12">

              <h4 class="underline custom-font mb-20"><strong>{{ 'Content.ACTUAL' | translate }}</strong> {{ 'Content.STATISTICS' | translate }}</h4>

              <!-- row -->
              <div class="row" ng-if="actualChart==1">
                <!-- col -->
                <div class="col-lg-4 text-center">
                  <div easypiechart options="easypiechart.options" percent="easypiechart2.percent" class="easypiechart" style="width: 140px; height: 140px;">
                    <i class="fa fa-usd fa-4x text-blue" style="line-height: 140px;"></i>
                  </div>
                  <p class="text-uppercase text-elg mt-20 mb-0"><strong class="text-blue">{{ 'Content.AMOUNT' | translate }}</strong> <small class="text-lg text-light text-default lt"></small></p>
                  <p class="text-uppercase text-elg mt-20 mb-0"><strong class="text-blue">{{ evolution.amount.value|number:1 }}</strong> <small class="text-lg text-light text-default lt"></small></p>
                  <p class="text-light"><i ng-class=" evolution.amount.percent < 0 ? 'fa fa-caret-down text-warning' : (evolution.amount.percent > 0 ? 'fa fa-caret-up text-success' : '') "></i> {{ evolution.amount.percent|number:1 }}% {{ 'Content.THIS_MONTH' | translate }}</p>
                </div>
                <!-- /col
                <!-- col -->
                <div class="col-lg-4 text-center">
                  <div easypiechart options="easypiechart2.options" percent="easypiechart2.percent" class="easypiechart" style="width: 140px; height: 140px;">
                    <i class="fa fa-usd fa-4x text-lightred" style="line-height: 140px;"></i>
                    <p class="text-uppercase text-elg mt-20 mb-0"><strong class="text-lightred">{{ 'Content.COMMISSIONS' | translate }}</strong> <small class="text-lg text-light text-default lt"></small></p>
                    <p class="text-uppercase text-elg mt-20 mb-0"><strong class="text-lightred">{{ evolution.commission.value|number:1 }}</strong> <small class="text-lg text-light text-default lt"></small></p>
                    <p class="text-light"><i ng-class=" evolution.commission.percent < 0 ? 'fa fa-caret-down text-warning' : (evolution.commission.percent > 0 ? 'fa fa-caret-up text-success' : '') "></i> {{ evolution.commission.percent|number:1 }}% {{ 'Content.THIS_MONTH' | translate }}</p>
                  </div>
                </div>
                <!-- /col -->
                <!-- col -->
                <div class="col-lg-4 text-center">
                  <div ng-if="currentUser.role == user_role.ROLE_ADMIN" easypiechart options="easypiechart3.options" percent="easypiechart2.percent" class="easypiechart" style="width: 140px; height: 140px;">
                    <i class="fa fa-user fa-4x text-greensea" style="line-height: 140px;"></i>
                    <p class="text-uppercase text-elg mt-20 mb-0"><strong class="text-greensea">{{ 'Content.CASHIERS' | translate }}</strong> <small class="text-lg text-light text-default lt"></small></p>
                    <p class="text-uppercase text-elg mt-20 mb-0"><strong class="text-greensea">{{ evolution.cashier.value|number:0 }}</strong> <small class="text-lg text-light text-default lt"></small></p>
                    <p class="text-light"><i ng-class=" evolution.cashier.percent < 0 ? 'fa fa-caret-down text-warning' : (evolution.cashier.percent > 0 ? 'fa fa-caret-up text-success' : '') "></i> {{ evolution.cashier.percent|number:1 }}% {{ 'Content.THIS_MONTH' | translate }}</p>
                  </div>
                  <div ng-if="currentUser.role != user_role.ROLE_ADMIN" easypiechart options="easypiechart3.options" percent="easypiechart2.percent" class="easypiechart" style="width: 140px; height: 140px;">
                    <i class="fa fa-user fa-4x text-greensea" style="line-height: 140px;"></i>
                    <p class="text-uppercase text-elg mt-20 mb-0"><strong class="text-greensea">{{ 'Content.CUSTOMERS' | translate }}</strong> <small class="text-lg text-light text-default lt"></small></p>
                    <p class="text-uppercase text-elg mt-20 mb-0"><strong class="text-greensea">{{ evolution.customer.value|number:0 }}</strong> <small class="text-lg text-light text-default lt"></small></p>
                    <p class="text-light"><i ng-class=" evolution.customer.percent < 0 ? 'fa fa-caret-down text-warning' : (evolution.customer.percent > 0 ? 'fa fa-caret-up text-success' : '') "></i> {{ evolution.customer.percent|number:1 }}% {{ 'Content.THIS_MONTH' | translate }}</p>
                  </div>
                </div>
                <!-- /col -->
              </div>
              <!-- /row -->

            </div>
            <!-- /col -->


          </div>
          <!-- /row -->

        </div>
        <!-- /tile body -->

      </section>
      <!-- /tile -->

      <!-- tile tableau-->
      <section class="tile" fullscreen="isFullscreen01">
        <!-- tile header -->
        <div class="tile-header dvd dvd-btm">
          <h1 class="custom-font"><strong>{{ 'Content.STATISTICS' | translate }} </strong>(Transactions)</h1>
          <ul class="controls">
            <!--li class="dropdown" uib-dropdown on-toggle="toggled(open)">
              <a href class="dropdown-toggle" uib-dropdown-toggle>{{ 'Content.TOOLS' | translate }} <i class="fa fa-angle-down ml-5"></i></a>
              <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                <li>
                  <a href>{{ 'Content.EXPORT' | translate }}</a>
                </li>
              </ul>
            </li>
            <li class="dropdown" uib-dropdown on-toggle="toggled(open)">
              <a href uib-dropdown-toggle class="dropdown-toggle settings"><i class="fa fa-cog"></i></a>
              <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                <li>
                  <a href tile-control-toggle>
                    <span class="minimize"><fa name="angle-down"></fa>&nbsp;&nbsp;&nbsp;{{ 'Content.MINIMIZE' | translate }}</span>
                    <span class="expand"><fa name="angle-up"></fa>&nbsp;&nbsp;&nbsp;{{ 'Content.EXPAND' | translate }}</span>
                  </a>
                </li>
                <li>
                  <a href tile-control-refresh ng-click="reloadData()">
                    <fa name="refresh"></fa> {{ 'Content.REFRESH' | translate }}
                  </a>
                </li>
                <li>
                  <a href tile-control-fullscreen ng-click="isFullscreen01 = !isFullscreen01">
                    <fa name="expand"></fa> {{ 'Content.FULLSCREEN' | translate }}
                  </a>
                </li>
              </ul>
            </li-->
            <li class="remove"><a href tile-control-close><i class="fa fa-times"></i></a></li>
          </ul>
        </div>
        <!-- /tile header -->
        <!-- tile body -->
        <div class="tile-body">
          <div class="table-responsive-wide">
            <table class="table table-striped table-hover table-custom">
              <thead>
              <tr>
                <th style="width:200px;">FullName</th>
                <th>Address</th>
                <th style="width:90px;">Amount</th>
                <th style="width:100px;">Commission</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="cashier in cashiers">
                <td>{{ cashier.fullname }}</td>
                <td>{{ cashier.address }}</td>
                <td>{{ cashier.amount | currency }}</td>
                <td>{{ cashier.commission | currency }}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- /tile body -->
      </section>
      <!-- /tile -->

    </div>
    <!-- /col -->



    <!-- col -->
    <div class="col-md-4">

      <!-- tile -->
      <section class="tile" fullscreen="isFullscreen02" ng-controller="ActualStatisticsCtrl">

        <!-- tile header -->
        <div class="tile-header dvd dvd-btm">
          <h1 class="custom-font"><strong>{{ 'Content.COMMISSIONS' | translate }} </strong></h1>
          <ul class="controls">
            <!--li class="dropdown" uib-dropdown on-toggle="toggled(open)">
              <a href class="dropdown-toggle" uib-dropdown-toggle>{{ 'Content.TOOLS' | translate }} <i class="fa fa-angle-down ml-5"></i></a>
              <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                <li>
                  <a href>{{ 'Content.EXPORT' | translate }}</a>
                </li>
              </ul>
            </li-->
            <li class="dropdown" uib-dropdown on-toggle="toggled(open)">
              <a href uib-dropdown-toggle class="dropdown-toggle settings"><i class="fa fa-cog"></i></a>
              <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                <li>
                  <a href tile-control-toggle>
                    <span class="minimize"><fa name="angle-down"></fa>&nbsp;&nbsp;&nbsp;{{ 'Content.MINIMIZE' | translate }}</span>
                    <span class="expand"><fa name="angle-up"></fa>&nbsp;&nbsp;&nbsp;{{ 'Content.EXPAND' | translate }}</span>
                  </a>
                </li>
                <li>
                  <a href tile-control-refresh ng-click="reloadData()">
                    <fa name="refresh"></fa> {{ 'Content.REFRESH' | translate }}
                  </a>
                </li>
                <li>
                  <a href tile-control-fullscreen ng-click="isFullscreen01 = !isFullscreen01">
                    <fa name="expand"></fa> {{ 'Content.FULLSCREEN' | translate }}
                  </a>
                </li>
              </ul>
            </li>
            <li class="remove"><a href tile-control-close><i class="fa fa-times"></i></a></li>
          </ul>
        </div>
        <!-- /tile header -->


        <!-- tile body -->
        <div class="tile-body">

          <!-- row -->
          <div class="row">


            <!-- col -->
            <div class="col-md-12 col-sm-12" ng-if="countryChart==1">

              <div class="progress-list" ng-repeat="(key, country) in commission">
                <div class="details">
                  <div class="title">{{ country.name|capitalize }}</div>
                  <div class="description">{{ 'Content.COMMISSIONS' | translate }} {{ 'Content.FROM' | translate }} {{ country.name }}</div>
                </div>
                <div class="status pull-right">
                  <span>{{ country.value|number:0 }}</span>
                </div>
                <div class="clearfix"></div>
                <uib-progressbar class="progress-xs not-rounded" value="country.percent" type="greensea"><b>{{ country.percent }}%</b></uib-progressbar>
              </div>
            </div>
            <!-- /col -->

          </div>
          <!-- /row -->

        </div>
        <!-- /tile body -->

      </section>
      <!-- /tile -->

    </div>
    <!-- /col -->


  </div>
  <!-- /row -->

</div>
