<div id="sidebar-wrap" ng-controller="NavCtrl">
  <uib-accordion close-others="oneAtTime" slimscroll="{height: '100%'}">
    <div uib-accordion-group is-open="status.isFirstOpen" ng-class="{'open': status.isFirstOpen, 'closed': !status.isFirstOpen}">
      <uib-accordion-heading>
        Navigation <i class="pull-right fa" ng-class="{'fa-angle-up': status.isFirstOpen, 'fa-angle-down': !status.isFirstOpen}"></i>
      </uib-accordion-heading>
      <ul ng-if="currentUser.role == user_role.ROLE_ADMIN" id="navigation" nav-collapse ripple>
        <li ui-sref-active="active"><a ui-sref="app.dashboard"><i class="fa fa-dashboard"></i> <span>{{ 'Menu.DASHBOARD' | translate }}</span></a></li>
        <li ui-sref-active="active"><a ui-sref="app.calculator"><i class="fa fa-th"></i> <span>{{ 'Menu.FEES_CALCULATOR' | translate }}</span></a></li>
        <li ui-sref-active="active"><a ui-sref="app.transaction.list"><i class="fa fa-dollar"></i> <span>{{ 'Menu.OPERATION' | translate }}</span></a></li>
        <li ui-sref-active="active"><a ui-sref="app.user.list"><i class="fa fa-user"></i> <span>{{ 'Menu.USER' | translate }}</span></a></li>
        <li ui-sref-active="active"><a ui-sref="app.settings.details"><i class="fa fa-gear"></i> <span>{{ 'Menu.SETTING' | translate }}</span></a></li>
        <li ui-sref-active="active"><a ui-sref="app.settings.upload"><i class="fa fa-upload"></i> <span>{{ 'Menu.UPLOAD' | translate }}</span></a></li>
        <li ui-sref-active="active"><a ui-sref="app.sim.list"><i class="fa fa-phone"></i> <span>{{ 'Menu.SIM' | translate }}</span></a></li>
        <li ui-sref-active="active"><a ui-sref="app.country.list"><i class="fa fa-map-marker"></i> <span>{{ 'Menu.COUNTRY' | translate }}</span></a></li>
        <li ui-sref-active="active"><a ui-sref="app.trace.list"><i class="fa fa-navicon"></i> <span>{{ 'Menu.TRACE' | translate }}</span></a></li>
        <li ui-sref-active="active"><a ui-sref="app.mail.compose"><i class="fa fa-envelope"></i> {{ 'Menu.PROMOTION' | translate }}</a></li>
        <li ui-sref-active="active"><a ui-sref="app.help"><i class="fa fa-book"></i> <span>{{ 'Menu.DOCUMENTATION' | translate }}</span></a></li>
      </ul>

      <ul ng-if="currentUser.role == user_role.ROLE_USER" id="navigation" nav-collapse ripple>
        <li ui-sref-active="active"><a ui-sref="app.dashboard"><i class="fa fa-dashboard"></i> <span>{{ 'Menu.DASHBOARD' | translate }}</span></a></li>
        <li ui-sref-active="active"><a ui-sref="app.calculator"><i class="fa fa-th"></i> <span>{{ 'Menu.FEES_CALCULATOR' | translate }}</span></a></li>
        <li ui-sref-active="active"><a ui-sref="app.transaction.list"><i class="fa fa-dollar"></i> <span>{{ 'Menu.OPERATION' | translate }}</span></a></li>
        <li ui-sref-active="active"><a ui-sref="app.mail.compose"><i class="fa fa-envelope"></i> {{ 'Menu.CONTACT' | translate }}</a></li>
      </ul>
    </div>
  </uib-accordion>
</div>
