<div class="page page-login">
	<!-- page header -->
	<div class="pageheader">
		<h2>{{page.title}} <span>// {{page.subtitle}}</span></h2>
		<div class="page-bar">
			<ul class="page-breadcrumb">
				<li>
					<a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{main.title}}</a>
				</li>
				<li>
					<a ui-sref="app.settings.show">Fees</a>
				</li>
				<li>
					<a ui-sref="javascript:;">{{page.title}}</a>
				</li>
			</ul>
		</div>
	</div>
	<!-- /page header -->
	<!-- page content -->
	<div class="pagecontent">
		<!-- row -->
		<div class="row">
			<!-- col -->
			<div class="col-md-12">
				<form name="formulaire" class="form-validation mt-20" novalidate ng-submit="updateSettings()">
					<!-- tile -->
					<section class="tile" fullscreen="isFullscreen01">
						<!-- tile header -->
						<div class="tile-header dvd dvd-btm">
							<h1 class="custom-font">
								<strong> {{transfertType}} </strong> Transfert
							</h1>
							<ul class="controls">
								<li>
									<a href tile-control-toggle> <span class="minimize">
										<fa name="angle-down"></fa>&nbsp;&nbsp;&nbsp;Minimize</span>
										<span class="expand"><fa name="angle-up"></fa>&nbsp;&nbsp;&nbsp;Expand</span>
									</a>
								</li>
								<li>
									<a href tile-control-refresh ng-click="ajaxFaker()"><fa name="refresh"></fa> Refresh</a>
								</li>
								<li>
									<a href tile-control-fullscreen ng-click="isFullscreen01 = !isFullscreen01"> <fa name="expand"></fa> Fullscreen</a>
								</li>
							</ul>
						</div>
						<!-- /tile header -->
						<!-- tile body -->
						<div class="tile-body">
							<div class="form-message" ng-class="{'error' : error, 'success': !error}" ng-show="message !== null">{{ message }}</div>
							<div class="row">
								<div class="form-group col-sm-6" ng-class="{ 'has-error': (formulaire.pourcentageBoutique.$dirty && formulaire.pourcentageBoutique.$error.required) || formError.pourcentageBoutique !== null }">
									<label>Percentage shop (%): <input type="text" name="shop" numbers-only class="form-control underline-input" ng-model="form.pourcentageBoutique" ng-maxlength="3" ng-minlength="1" ng-value="(form.pourcentageBoutique > 100 ? form.pourcentageBoutique = 0 : form.pourcentageBoutique) && (form.pourcentageBoutique < 0 ? form.pourcentageBoutique = 0 : form.pourcentageBoutique)"></label>
									<span ng-show="formulaire.shop.$dirty && formulaire.shop.$error.required" class="help-block">Percentage shop is required</span>
									<span ng-show="formError.pourcentageBoutique !== null" class="help-block">{{ formError.pourcentageBoutique }}</span>
								</div>
								<div class="form-group col-sm-6" ng-class="{ 'has-error': (formulaire.tauxTransfert.$dirty && formulaire.tauxTransfert.$error.required) || formError.tauxTransfert !== null }">
									<label>Transfert fees (%): <input type="text" name="fees" numbers-only class="form-control underline-input" ng-model="form.tauxTransfert" ng-maxlength="3" ng-minlength="1" ng-value="(form.tauxTransfert > 100 ? form.tauxTransfert = 0 : form.tauxTransfert) && (form.tauxTransfert < 0 ? form.tauxTransfert = 0 : form.tauxTransfert)"></label>
									<span ng-show="formulaire.tauxTransfert.$dirty && formulaire.tauxTransfert.$error.required" class="help-block">Transfert fees is required</span>
									<span ng-show="formError.tauxTransfert !== null" class="help-block">{{ formError.tauxTransfert }}</span>
								</div>
							</div>

							<div class="row">
								<div class="form-group col-sm-6" ng-class="{ 'has-error': (formulaire.pourcentageSociete.$dirty && formulaire.pourcentageSociete.$error.required) || formError.pourcentageSociete !== null }">
									<label>Percentage Softgal (%): <input type="text" numbers-only class="form-control underline-input" ng-model="form.pourcentageSociete" ng-maxlength="3" ng-minlength="1" ng-value="(form.pourcentageSociete > 100 ? form.pourcentageSociete = 0 : form.pourcentageSociete) && (form.pourcentageSociete < 0 ? form.pourcentageSociete = 0 : form.pourcentageSociete)"></label>
									<span ng-show="formulaire.pourcentageSociete.$dirty && formulaire.pourcentageSociete.$error.required" class="help-block">Percentage softgal is required</span>
									<span ng-show="formError.pourcentageSociete !== null" class="help-block">{{ formError.pourcentageSociete }}</span>
								</div>
								<div class="form-group col-sm-6" ng-class="{ 'has-error': (formulaire.tauxChange.$dirty && formulaire.tauxChange.$error.required) || formError.tauxChange !== null }">
									<label>Transfert change (%): <input type="text" name="change" numbers-only class="form-control underline-input" ng-model="form.tauxChange" ng-maxlength="3" ng-minlength="1" ng-value="(form.tauxChange > 100 ? form.tauxChange = 0 : form.tauxChange) && (form.tauxChange < 0 ? form.tauxChange = 0 : form.tauxChange)"></label>
									<span ng-show="formulaire.tauxChange.$dirty && formulaire.tauxChange.$error.required" class="help-block">Transfert change is required</span>
									<span ng-show="formError.tauxChange !== null" class="help-block">{{ formError.tauxChange }}</span>
								</div>
							</div>
						</div>
						<div class="tile-footer text-right bg-tr-black lter dvd dvd-top">
							<p class="m-0">
								<button type="submit" class="btn btn-greensea b-0 text-uppercase pull-right" ng-disabled='formulaire.$invalid'>Submit</button>
								<a ui-sref="app.settings.show" class="btn btn-lightred b-0 text-uppercase">Back</a>
							</p>
						</div>
					</section>
				</form>
			</div>
		</div>
	</div>
</div>
