<div class="page page-orders">
  <!-- page header -->
  <div class="pageheader">
    <h2>{{page.title}} <span>// {{page.subtitle}}</span></h2>
    <div class="page-bar">
      <ul class="page-breadcrumb">
        <li>
          <a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{main.title}}</a>
        </li>
        <li>
          <a ui-sref="app.settings.show">{{page.title}}</a>
        </li>
      </ul>
    </div>
  </div>
  <!-- /page header -->
  <!-- page content -->
  <div class="pagecontent">
    <div class="add-nav">
        <!-- row -->
         <div class="row">
           <!-- col -->
           <div class="col-md-12">
             <!-- tile -->
             <section class="tile time-simple">
               <!-- tile body -->
               <div class="tile-body">
                 <!-- row -->
                 <div class="row pt-20">
                   <!-- col -->
                   <div class="col-md-12 b-r">
                     <p class="text-uppercase text-strong mb-10 custom-font">
                     	Classical transfert
                     	<a href class="btn btn-default btn-rounded-20 btn-xs pull-right" ng-click="editConfig(1)"><i class="fa fa-pencil"></i></a>
                     </p>
                     <!-- col -->
                     <div class="col-md-6 b-r">
	                     <ul class="list-unstyled text-default lt mb-20">
	                       <li><div class="col-md-6"><strong>Percentage shop: </strong></div> <div class="col-md-6"><label style="color:green">{{ settings.classic.percentile.shop }}% </label></div> </li>
	                       <li><div class="col-md-6"><strong>Percentage Softgal: </strong></div> <div class="col-md-6"><label style="color:green">{{ settings.classic.percentile.society }}% </label></div></li>
	                     </ul>
	                   </div>
                   	 <!-- /col -->
                     <!-- col -->
                     <div class="col-md-6">
	                     <ul class="list-unstyled text-default lt mb-20">
	                       <!--li><div class="col-md-6"><strong>Transfert fees: </strong></div> <div class="col-md-6"><label style="color:orangered">{{ settings.classic.rate.commission }}% </label></div> </li-->
	                       <li><div class="col-md-6"><strong>Change transfert: </strong></div> <div class="col-md-6"><label style="color:orangered">{{ settings.classic.rate.change }}% </label></div> </li>
	                     </ul>
	                   </div>
                   </div>
                   <!-- /col -->
                 <!-- /row -->
                 </div>
                 <!-- row -->
                 <div class="row b-t pt-20">
                   <!-- col -->
                   <div class="col-md-12">
                     <!--p class="text-uppercase text-strong mb-10 custom-font">
                       Transfert by code
                       <a href ng-click="editConfig(2)" class="btn btn-default btn-rounded-20 btn-xs pull-right"><i class="fa fa-pencil"></i></a>
                     </p-->
                     <!-- col -->
                     <!--div class="col-md-6 b-r">
                       <ul class="list-unstyled text-default lt mb-20">
	                       <li><div class="col-md-6"><strong>Percentage shop: </strong></div> <div class="col-md-6"><label style="color:green"> {{ settings.tac.percentile.shop }}% </label></div> </li>
	                       <li><div class="col-md-6"><strong>Percentage Softgal: </strong></div> <div class="col-md-6"><label style="color:green"> {{ settings.tac.percentile.society }}% </label></div> </li>
                       </ul>
                     </div-->
                     <!-- /col -->
                     <!-- col -->
                     <!--div class="col-md-6">
                       <ul class="list-unstyled text-default lt mb-20">
	                       <li><div class="col-md-6"><strong>Transfert fees: </strong></div> <div class="col-md-6"><label style="color:orangered">{{ settings.tac.rate.commission }}% </label></div> </li>
	                       <li><div class="col-md-6"><strong>Change transfert: </strong></div> <div class="col-md-6"><label style="color:orangered">{{ settings.tac.rate.change }}% </label></div> </li>
                       </ul>
                     </div-->
                     <!-- /col -->

                   </div>
                   <!-- /col -->
                 </div>
                 <!-- /row -->
               </div>
               <!-- /tile body -->
             </section>
             <!-- /tile -->
             <!-- tile -->
             <section class="tile tile-simple">
               <!-- tile body -->
               <div class="tile-body p-0">
                 <div class="table-responsive">
                 </div>
               </div>
               <!-- /tile body -->
             </section>
             <!-- /tile -->
           </div>
           <!-- /col -->
         </div>
        <!-- /row -->




  	</div>

  <!-- /page content -->
  </div>
</div>
