{% if depot.etat.id==etats.validate %}
Hello {{ depot.client }},<br />
Your transaction was successfully completed.<br />
For any complaint, please go to the agency with this code: <b>{{ depot.reference }}</b> or send us an email to contact@softgal.ca.<br />
<br />
Thank you for your loyalty.
Regards,
{% elseif depot.etat.id==etats.rejected %}
Hello {{ depot.client }},<br />
The transaction <b>{{ depot.reference }}</b> failed.<br />
Error message: <span style="color: red;font-weight: bold;">{{ depot.resultat }}</span>.<br />
For any complaint, please contact us or send us an email to support@guedia.ovh.<br />
<br />
Thank you for your loyalty.
{% elseif depot.etat.id==etats.non_credit %}
Hello,<br />
The SIM <b>{{ depot.puce.telephone }}</b> don't have enough money to validate the transaction.<br />
<br /><br />
Thank you for recharging the account.
{% endif %}