<style>
	label { width: 250px; }
</style>
Hello <br><br>
Below the details of the transaction <h2 style="display: inline-block;">{{ depot.reference }} : </h2><br><br>
<div style="width: 100%">
	<div>
		<span style="text-align: center;background-color: #eee;font-weight: bold;display: block;">General Informations</span>
		<div>
			<label>Date : </label><b>{{ depot.date | date('d F Y - H:i') }}</b><br>
			<label>Effective change : </label><b>{{ exchangerate }} $</b><br>
			<label>Grantee's amount : </label><b>{{ depot.beneficiaireMontant }} XOF</b>
		</div>
	</div>
	<br><br><br>
	<div style="width: 49%;display: inline-block;">
		<span style="text-align: center;background-color: #eee;font-weight: bold;display: block;">Customer</span>
		<div>
			<label>Firstname : </label><b>{{ depot.client.prenom }}</b><br>
			<label>Lastname : </label><b>{{ depot.client.nom }}</b><br>
			<label>Phone : </label><b>{{ depot.client.telephone }}</b><br>
			<label>Identity type : </label><b>{{ depot.client.identiteType }}</b><br>
			<label>Identity : </label><b>{{ depot.client.identite }}</b>
		</div>
	</div>
	<div style="width: 49%;display: inline-block;">
		<span style="text-align: center;background-color: #eee;font-weight: bold;display: block;">Grantee</span>
		<div>
			<label>Firstname : </label><b>{{ depot.beneficiairePrenom }}</b><br>
			<label>Lastname : </label><b>{{ depot.beneficiaireNom }}</b><br>
			<label>Phone : </label><b>{{ depot.beneficiaireTelephone }}</b><br>
			<label>Country : </label><b>{{ depot.beneficiairePays }}</b><br>
			<label>&nbsp;</label><b>&nbsp;</b>
		</div>
	</div>
</div>