{% block status_utilisateur_etat %}
	{% if entity.enabled %}
		<label class="label label-success">Active</label>
	{% else %}
		<label class="label label-danger">Deactive</label>
	{% endif %}
{% endblock status_utilisateur_etat %}

{% block status_puce_etat %}
	{% if entity.etat %}
		<label class="label label-success">Active</label>
	{% else %}
		<label class="label label-danger">Deactive</label>
	{% endif %}
{% endblock status_puce_etat %}

{% block status_depot_etat %}
	{% if entity.etat.id==1 %}
		<label class="label label-warning">Pending</label>
	{% elseif entity.etat.id==2 %}
		<label class="label label-info">Confirmed</label>
	{% elseif entity.etat.id==3 %}
		<label class="label label-success">Validate</label>
	{% elseif entity.etat.id==4 %}
		<label class="label label-danger">Cancelled</label>
	{% elseif entity.etat.id==5 %}
		<label class="label label-danger">Rejected</label>
	{% else %}
		<label class="label label-warning">Non credit</label>
	{% endif %}
{% endblock status_depot_etat %}

{% block status_historique_etat %}
	{% if entity.etat.id==1 %}
		<label class="label label-warning">Pending</label>
	{% elseif entity.etat.id==2 %}
		<label class="label label-info">Confirmed</label>
	{% elseif entity.etat.id==3 %}
		<label class="label label-success">Validate</label>
	{% elseif entity.etat.id==4 %}
		<label class="label label-danger">Cancelled</label>
	{% elseif entity.etat.id==5 %}
		<label class="label label-danger">Rejected</label>
	{% else %}
		<label class="label label-warning">Non credit</label>
	{% endif %}
{% endblock status_historique_etat %}

