<div class="page page-orders">
  <!-- page header -->
  <div class="pageheader">
    <h2>{{page.title}} <span>// {{page.subtitle}}</span></h2>
    <div class="page-bar">
      <ul class="page-breadcrumb">
        <li>
          <a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{main.title}}</a>
        </li>
        <li>
          <a ui-sref="app.mail.compose">{{page.title}}</a>
        </li>
      </ul>
    </div>
  </div>
  <!-- /page header -->

<!-- right side body -->
<div class="p-15">
  <div class="form-message" ng-class="{'error' : error, 'success': !error}" ng-show="message !== null">{{ message }}</div>
  <form name="formulaire" class="form-horizontal mt-20" ng-submit="contactus()">

    <div class="form-group" ng-class="{ 'has-error': formulaire.subject.$dirty && formulaire.subject.$error.requiredl }">
      <label class="col-lg-2 control-label">Subject:</label>
      <div class="col-lg-8">
        <input type="text" class="form-control" ng-model="form.subject">
      </div>
    </div>

    <div class="form-group" ng-class="{ 'has-error': formulaire.message.$dirty && formulaire.message.$error.required }">
      <label class="col-lg-2 control-label">Content:</label>
      <div class="col-lg-8">
         <textarea class="col-lg-12" ng-model="form.message" rows="10" ></textarea>
      </div>
    </div>

    <div class="form-group">
      <div class="col-lg-8 col-lg-offset-2">
        <button type="submit" class="btn btn-greensea btn-ef btn-ef-7 btn-ef-7b b-0 br-2" ng-disabled='formulaire.$invalid'>
        	<i class="fa fa-envelope"></i> Send Message
        </button>
      </div>
    </div>
  </form>
  </div>
</div>
<!-- /right side body -->

