<div class="page page-login">
	<!-- page header -->
	<div class="pageheader">
		<h2>
			{{page.title}} <span>// {{page.subtitle}}</span>
		</h2>
		<div class="page-bar">
			<ul class="page-breadcrumb">
				<li><a ui-sref="app.dashboard"><i class="fa fa-home"></i>
						{{main.title}}</a></li>
				<li><a ui-sref="app.transaction.list">Transactions</a></li>
				<li><a href="javascript:;">{{page.title}}</a></li>
			</ul>
		</div>
	</div>
	<!-- /page header -->
	<!-- page content -->
	<div class="pagecontent">
		<!-- row -->
		<div class="row">
			<!-- col -->
			<div class="col-md-12">
				<form name="formulaire" class="form-validation mt-20" novalidate ng-submit="create()">
					<!-- tile -->
					<section class="tile" fullscreen="isFullscreen01">
						<!-- tile header -->
						<div class="tile-header dvd dvd-btm">
							<h1 class="custom-font">New <strong>Transaction</strong></h1>
							<ul class="controls">
								<li>
									<a href tile-control-toggle> <span class="minimize">
										<fa name="angle-down"></fa>&nbsp;&nbsp;&nbsp;Minimize</span> 
										<span class="expand"><fa name="angle-up"></fa>&nbsp;&nbsp;&nbsp;Expand</span>
									</a>
								</li>
								<li>
									<a href tile-control-refresh ng-click="ajaxFaker()"><fa name="refresh"></fa> Refresh</a>
								</li>
								<li>
									<a href tile-control-fullscreen ng-click="isFullscreen01 = !isFullscreen01"> <fa name="expand"></fa> Fullscreen</a>
								</li>
							</ul>
						</div>
						<!-- /tile header -->
						<!-- tile body -->
						<div class="tile-body">
							<div class="form-message" ng-class="{'error' : error, 'success': !error}" ng-show="message !== null">{{ message }}</div>

							<div class="row">
								<div class="form-group col-sm-6" ng-class="{ 'has-error': formulaire.beneficiairePays.$dirty && formulaire.beneficiairePays.$error.required }">
									<select ng-value="item.id" class="form-control mb-10" ng-options="item.libelle for item in arrCountry" ng-model="form.beneficiairePays" required>
										<option value="">Send to ...</option>
									</select>
									<span ng-show="formulaire.montant.$dirty && formulaire.beneficiairePays.$error.required" class="help-block">Country is required</span>
								</div>
							</div>

							<div class="row">
								<div class="form-group col-md-12 legend">
									<h5><strong>Transfert Type</strong></h5>
									<p>Transfert informations</p>
								</div>
							</div>
							<div class="row">
								<div class="form-group  col-sm-6">
									<select class="form-control mb-10" name="type" ng-model="form.transfertType" ng-dropdown required ng-change="EmptyField()">
										<option value="">Select a type ...</option>
										<option ng-option value="{{ ids.transfertType.classic }}">Vers un compte Orange Money (Cashing)</option>
										<option ng-option value="{{ ids.transfertType.tac }}">Vers un compte Orange Money (Cashout)</option>
									</select>
								</div>
							</div>
							<div class="row">
								<div class="form-group col-sm-3">
									<label>Amount to send <input type="radio" ng-model="form.transfertMode" value="1" ng-change="EmptyField()"></label>
								</div>
								<div class="form-group col-sm-3">
									<label>Amount to receive <input type="radio" ng-model="form.transfertMode" value="2" ng-change="EmptyField()"></label>
								</div>
							</div>

							<div class="row" ng-if="form.transfertMode == '1'">
								<div class="form-group col-sm-3" ng-class="{ 'has-error': formulaire.montant.$dirty && formulaire.montant.$error.required && !error }">
									<input type="text" class="form-control underline-input" placeholder="Amount" ng-model="form.montant" numbers-only required ng-change="Calculate()">
									<span ng-show="formulaire.montant.$dirty && formulaire.montant.$error.required && !error" class="help-block"> Valid Amount is required</span>
								</div>
								<div class="form-group col-sm-1">
									<input type="text"  class="form-control underline-input" disabled value="CAD">
								</div>
							</div>
							<div class="row" ng-if="form.transfertMode == '2'">
								<div class="form-group col-sm-3" ng-class="{ 'has-error': formulaire.montant.$dirty && formulaire.montant.$error.required && !error }">
									<input type="text" class="form-control underline-input" placeholder="Amount" ng-model="form.montant" numbers-only required  ng-change="Calculate()">
									<span ng-show="formulaire.montant.$dirty && formulaire.montant.$error.required && !error" class="help-block"> Valid Amount is required</span>
								</div>
								<div class="form-group col-sm-1">
									<input type="text" class="form-control underline-input" disabled value="XOF">
								</div>
							</div>

							<div class="row">
								<div class="form-group col-md-12 legend">
									<h5><strong>Sender</strong></h5>
									<p>The sender informations</p>
								</div>
							</div>
							<div class="row">
								<div class="form-group col-sm-3" ng-class="{ 'has-error': formulaire.client.identiteType.$dirty && formulaire.client.identiteType.$error.required }">
									<select class="form-control mb-10" ng-options="item.id as item.name for item in arrIdentityType" ng-model="form.client.identiteType" required>
										<option value="">Select identity type ...</option>
									</select>
									<span ng-show="formulaire.client.identiteType.$dirty && formulaire.client.identiteType.$error.required" class="help-block">sender Identite type is required</span>
								</div>
								<div class="form-group col-sm-3" ng-class="{ 'has-error': formulaire.client.identite.$dirty && formulaire.client.identite.$error.required }">
									<input type="text" class="form-control underline-input"  ng-change="enableSearch()" placeholder="Identity" ng-model="form.client.identite" required >
									<span ng-show="formulaire.client.identite.$dirty && formulaire.client.identite.$error.required" class="help-block">sender Identite is required</span>
								</div>
								<div class="form-group col-sm-3">
									<a href="javascript:;" ng-if="actif" ng-click="searchInfo()" class="btn btn-ef btn-ef-1 btn-ef-1-default btn-ef-1a btn-rounded-20 mr-5" uib-tooltip="{{ 'Content.SEARCH' | translate }}"><i class="fa fa-search"></i></a>
									<a href="javascript:;" ng-if="checked" uib-tooltip="{{ 'Content.FOUND' | translate }}"><i class="fa fa-check" style="color:green"></i></a>
								</div>
							</div>
							<div class="row">
								<div class="form-group  col-sm-6" ng-class="{ 'has-error': formulaire.client.prenom.$dirty && formulaire.client.prenom.$error.required }">
									<input type="text" class="form-control underline-input" placeholder="FirstName" ng-model="form.client.prenom" required> 
									<span ng-show="formulaire.client.prenom.$dirty && formulaire.client.prenom.$error.required" class="help-block">sender FirstName is required</span>
								</div>
								<div class="form-group  col-sm-6" ng-class="{ 'has-error': formulaire.client.nom.$dirty && formulaire.client.nom.$error.required }">
									<input type="text" class="form-control underline-input" placeholder="LastName" ng-model="form.client.nom" required> 
									<span ng-show="formulaire.client.nom.$dirty && formulaire.client.nom.$error.required" class="help-block">sender LastName is required</span>
								</div>
							</div>
							<div class="row">
								<div class="form-group col-sm-6"
									 ng-class="{ 'has-error': formulaire.client.address.$dirty && formulaire.client.address.$error.required }">
									<input type="text" class="form-control underline-input" placeholder="Address" ng-model="form.client.address" required>
									<span ng-show="formulaire.client.address.$dirty && formulaire.client.address.$error.required" class="help-block">sender Address is required</span>
								</div>
								<div class="form-group col-sm-3">
									<input type="email" class="form-control underline-input" placeholder="Email" ng-model="form.client.email">
								</div>
								<div class="form-group col-sm-3" ng-class="{ 'has-error': formulaire.client.telephone.$dirty && formulaire.client.telephone.$error.required }">
									<input type="text" class="form-control underline-input" placeholder="Phone" ng-model="form.client.telephone" minlength="9" required numbers-only>
									<span ng-show="formulaire.client.telephone.$dirty && formulaire.client.telephone.$error.required" class="help-block">sender Phone is required</span>
								</div>
							</div>
							<div class="row">
								<div class="form-group col-md-12 legend">
									<h5><strong>beneficiaire</strong></h5>
									<p>The beneficiaire informations</p>
								</div>
							</div>
							<div class="row">
								<div class="form-group  col-sm-4" ng-class="{ 'has-error': formulaire.beneficiairePrenom.$dirty && formulaire.beneficiairePrenom.$error.required }">
									<input type="text" class="form-control underline-input" placeholder="Firstname" ng-model="form.beneficiairePrenom" required> 
									<span ng-show="formulaire.beneficiairePrenom.$dirty && formulaire.beneficiairePrenom.$error.required" class="help-block">recipient Nom is required</span>
								</div>
								<div class="form-group  col-sm-4" ng-class="{ 'has-error': formulaire.beneficiaireLastname.$dirty && formulaire.beneficiaireNom.$error.required }">
									<input type="text"  class="form-control underline-input" placeholder="LastName" ng-model="form.beneficiaireNom" required> 
									<span ng-show="formulaire.beneficiaireNom.$dirty && formulaire.beneficiaireNom.$error.required" class="help-block">recipient LastName is required</span>
								</div>
								<div class="form-group" ng-class="{ 'has-error': formulaire.beneficiaireTelephone.$dirty && formulaire.beneficiaireTelephone.$error.required }">
									<div class="col-sm-3">
										<div class="input-group mb-3">
											<span class="input-group-addon">{{ form.beneficiairePays.phonecode }}</span>
											<input type="tel" class="form-control"  placeholder=" Phone" ng-model="form.beneficiaireTelephone" minlength="9" maxlength="9" required>
										</div>
										<span ng-show="formulaire.beneficiaireTelephone.$dirty && formulaire.beneficiaireTelephone.$error.required" class="help-block">recipient Phone is required</span>
									</div>
								</div>
							</div>
						</div>
						<div class="tile-footer text-right bg-tr-black lter dvd dvd-top">
							<p class="m-0">
								<input type="hidden" ng-model="form.reference" >
								<button type="submit" class="btn btn-greensea b-0 text-uppercase pull-right" ng-class="{'disabled': formulaire.valid}">Submit</button>
								<a ui-sref="app.transaction.list" class="btn btn-lightred b-0 text-uppercase">Back</a>
							</p>
						</div>
					</section>
				</form>
			</div>
		</div>
	</div>
</div>
