<div class="page page-orders">
  <!-- page header -->
  <div class="pageheader">
    <h2>{{page.title}} <span>// {{page.subtitle}}</span></h2>
    <div class="page-bar">
      <ul class="page-breadcrumb">
        <li>
          <a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{main.title}}</a>
        </li>
        <li>
          <a href="javascript:;">Transactions</a>
        </li>
        <li>
          <a ui-sref="app.transaction.list">{{page.title}}</a>
        </li>
      </ul>
      <div class="page-toolbar">
        <a href="javascript:;" class="btn btn-greensea no-border" daterangepicker="rangeOptions" date-begin="startDate" date-end="endDate">
          <i class="fa fa-calendar"></i>&nbsp;&nbsp;<span style="color: white;">{{startDate}} - {{endDate}}</span>&nbsp;&nbsp;<i class="fa fa-angle-down"></i>
        </a>
      </div>
    </div>
  </div>
  <!-- /page header -->
  <!-- page content -->
  <div class="pagecontent">
    <!-- row -->
    <div class="row">
      <!-- col -->
      <div class="col-md-12">
        <!-- tile -->
        <section class="tile" fullscreen="isFullscreen01">
          <!-- tile header -->
          <div class="tile-header dvd dvd-btm">
            <h1 class="custom-font"><strong>Transactions</strong> List</h1>
            <ul class="controls">
              <li>
              	<a ui-sref="app.transaction.new"><i class="fa fa-plus mr-5"></i> New Transaction</a>
              </li>
              <li class="dropdown" uib-dropdown on-toggle="toggled(open)">
                <a href class="dropdown-toggle" uib-dropdown-toggle>{{ 'Content.TOOLS' | translate }} <i class="fa fa-angle-down ml-5"></i></a>
                <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                  <li>
                    <a href ng-click="exportTransaction()">{{ 'Content.EXPORT' | translate }}</a>
                  </li>
                </ul>
              </li>
              <li class="dropdown" uib-dropdown on-toggle="toggled(open)">
                <a href uib-dropdown-toggle class="dropdown-toggle settings"><i class="fa fa-cog"></i></a>
                <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                  <li>
                    <a href tile-control-toggle>
                      <span class="minimize"><fa name="angle-down"></fa>&nbsp;&nbsp;&nbsp;{{ 'Content.MINIMIZE' | translate }}</span>
                      <span class="expand"><fa name="angle-up"></fa>&nbsp;&nbsp;&nbsp;{{ 'Content.EXPAND' | translate }}</span>
                    </a>
                  </li>
                  <li>
                    <a href tile-control-refresh>
                      <fa name="refresh"></fa> {{ 'Content.REFRESH' | translate }}
                    </a>
                  </li>
                  <li>
                    <a href tile-control-fullscreen ng-click="isFullscreen01 = !isFullscreen01">
                      <fa name="expand"></fa> {{ 'Content.FULLSCREEN' | translate }}
                    </a>
                  </li>
                </ul>
              </li>
              <li class="remove"><a href tile-control-close><i class="fa fa-times"></i></a></li>
            </ul>
          </div>
          <!-- /tile header -->
          <!-- tile body -->
          <div class="tile-body" ng-controller="TransactionsTableCtrl as showcase">
          	<table datatable="" dt-options="showcase.dtOptions" dt-columns="showcase.dtColumns" dt-instance="showcase.dtInstance" class="table table-custom"></table>
          </div>
          <!-- /tile body -->
        </section>
        <!-- /tile -->
      </div>
      <!-- /col -->
    </div>
    <!-- /row -->
  </div>
  <!-- /page content -->
</div>
