
/* form errros */

.form-message {
    width: 100%;
    min-height: 1em;
    text-align: center;
}

.error-container {
    margin: 5px 0;
}

.error-container:last-child {
    margin: 5px 0 0;
}

.error, .success {
    padding: 10px 16px;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    vertical-align: middle;
}

.error {
    color: red;
}

.success {
    color: green;
}

.error i {
    font-size: 24px;
    color: #B83E2C;
    vertical-align: middle;
}

.last-error-container > .error {
    padding: 10px 16px 0;
}

.has-errors {
    border-bottom: 3px solid #B83E2C;
}

.no-errors {
    border-bottom: 3px solid green;
}

/* form errros */

.col-centered{
    float: none;
    margin: 0 auto;
}

.centered{
    margin: 0 auto;
}

.link-effect{
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    margin: 0;
}

.link-effect.link-effect-3 {
    padding: 0;
}

.my-large-area .ta-editor{
    height: 300px;
}
