Hello {{ user.firstname}} {{ user.lastname }},<br />
Your password has changed<br />
Your new one is : <b>{{ user.plainPassword}}</b><br />
<br />
You can click <a href="http://vps423165.ovh.net/frontend/dist/">here</a> to access on your account.
<br />
Regards,