Hello {{ user.firstname}} {{ user.lastname }},<br />
Your have register in the Service <b>SoftGal</b><br />
Below are the access account : <br />
<ul>
	<li>Username : <b>{{ user.username }}</b></li>
	<li>Password : <b>{{ user.plainPassword }}</b></li>
</ul>
<br />
You can click <a href="http://vps423165.ovh.net/frontend/dist/">here</a> to access on your account.
<br />
Regards,