<div class="page page-profile">
  <!-- page header -->
  <div class="pageheader">
    <h2>{{page.title}} <span> {{page.subtitle}}</span></h2>
    <div class="page-bar">
      <ul class="page-breadcrumb">
        <li>
          <a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{main.title}}</a>
        </li>
        <li>
          <a href="javascript:;">Extra Pages</a>
        </li>
        <li>
          <a ui-sref="app.changepass">{{page.title}}</a>
        </li>
      </ul>
    </div>
  </div>
  <!-- /page header -->
  <!-- page content -->
  <div class="pagecontent">
    <!-- row -->
    <div class="row">
      <!-- col -->
      <div class="col-md-4">
        <!-- tile -->
        <section class="tile tile-simple">
          <!-- tile widget -->
          <div class="tile-widget p-30 text-center">
            <div class="thumb thumb-xl">
              <img class="img-circle" src="images/avatar.jpg" alt="">
            </div>
            <h4 class="mb-0"><strong>{{currentUser.firstname}}</strong> {{currentUser.lastname}}</h4>
            <span class="text-muted">{{currentUser.profil}}</span>
          </div>
          <!-- /tile widget -->

        </section>
        <!-- /tile -->
      </div>
      <!-- /col -->
      <!-- col -->
      <div class="col-md-8">
        <!-- tile -->
        <section class="tile tile-simple">
          <!-- tile body -->
          <div class="tile-body p-0">
            <uib-tabset class="tabs-dark">
              <uib-tab heading="Settings">
                <div class="wrap-reset">
                  <form name="formulaire" class="profile-settings" novalidate ng-submit="changePassword()">

                    <div class="form-message" ng-class="{'error' : error, 'success': !error}" ng-show="message !== null">{{ message }}</div>

                    <div class="row">
                      <div class="form-group col-md-12 legend">
                        <h4><strong>Security</strong> Settings</h4>
                        <p>Secure your account</p>
                      </div>
                    </div>
                    <div class="row">

                      <div class="form-group col-sm-6" ng-class="{ 'has-error': formulaire.oldpassword.$dirty && formulaire.oldpassword.$error.required }">
                        <label for="oldpassword">Old Password</label>
                        <input type="password" name="oldpassword" id="oldpassword" class="form-control" ng-model="form.current_password" required>
                        <span ng-show="formulaire.oldpassword.$dirty && formulaire.oldpassword.$error.required" class="help-block">Old Password is required</span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-sm-6" ng-class="{ 'has-error': formulaire.newpassword.$dirty && formulaire.newpassword.$error.required }">
                        <label for="newpassword">New Password (10 caractères au minimum)</label>
                        <input type="password" name="newpassword" id="newpassword" class="form-control" ng-model="form.plainPassword.first" minlength="10" required>
                        <span ng-show="formulaire.newpassword.$dirty && formulaire.newpassword.$error.required" class="help-block">New Password is required</span>
                      </div>
                      <div class="form-group col-sm-6" ng-class="{ 'has-error': formulaire.newpasswordrepeat.$dirty && formulaire.newpasswordrepeat.$error.required }">
                        <label for="newpasswordrepeat">New Password Repeat</label>
                        <input type="password" name="newpasswordrepeat" id="newpasswordrepeat" class="form-control" ng-model="form.plainPassword.second" minlength="10" required>
                        <span ng-show="formulaire.newpasswordrepeat.$dirty && formulaire.newpasswordrepeat.$error.required" class="help-block">New Password Repeat is required</span>
                      </div>
                    </div>
                  	<div class="form-group text-left">
                    	<button type="submit" class="btn btn-greensea b-0 br-2 mr-5 block" ng-disabled='formulaire.$invalid'>Update</button>
                  	</div>
                  </form>
                </div>
              </uib-tab>
            </uib-tabset>
          </div>
          <!-- /tile body -->
        </section>
        <!-- /tile -->
      </div>
      <!-- /col -->
    </div>
    <!-- /row -->
  </div>
  <!-- /page content -->
</div>
