<div class="page page-core page-login">

  <div class="text-center"><h3 class="text-light text-white"><span class="text-lightred">Trans</span>Mobile</h3></div>

  <div class="container w-420 p-15 bg-white mt-40 text-center">

    <h2 class="text-light text-greensea">Forgot Password?</h2>

    <form name="formulaire" class="form-validation mt-20" novalidate ng-submit="forgotPassword()">

      <div class="form-message" ng-class="{'error' : error, 'success': !error}" ng-show="message !== null">{{ message }}</div>

      <p class="help-block text-left">
         Enter your e-mail address below to reset your password.
      </p>

      <div class="form-group" ng-class="{ 'has-error': formulaire.email.$dirty && formulaire.email.$error.required }">
        <input type="email" id="email" name="email" class="form-control underline-input" placeholder="Email" ng-model="form.email" required>
        <span ng-show="formulaire.email.$dirty && formulaire.email.$error.required" class="help-block">Email is required</span>
      </div>
	  <div class="bg-slategray lt wrap-reset mt-40 text-left">
	      <p class="m-0">
	        <button type="submit" class="btn btn-greensea b-0 text-uppercase pull-right" ng-disabled='formulaire.$invalid'>Submit</button>
	        <a ui-sref="core.login"  class="btn btn-lightred b-0 text-uppercase">Back</a>
	      </p>
	  </div>
    </form>
  </div>

</div>
