<div class="page page-core page-login">

  <div class="text-center"><h3 class="text-light text-white"><span class="text-lightred">Bienvenue</span> sur la plateforme sécurisée des Agents</h3></div>

  <div class="container w-420 p-15 bg-white mt-40 text-center">


    <h2 class="text-light text-greensea">Log In</h2>

    <form name="formulaire" class="form-validation mt-20"  novalidate ng-submit="login()">

      <div class="form-message" ng-class="{'error' : !error, 'success': error}" ng-show="message !== null">{{ message }}</div>

      <div class="form-group" ng-class="{ 'has-error': formulaire.username.$dirty && formulaire.username.$error.required }">
        <input type="text" name="username" id="username" class="form-control underline-input" placeholder="Username" ng-model="user.email" required>
        <span ng-show="formulaire.username.$dirty && formulaire.username.$error.required" class="help-block">Username is required</span>
      </div>

      <div class="form-group" ng-class="{ 'has-error': formulaire.password.$dirty && formulaire.password.$error.required }">
        <input type="password" name="password" id="password" placeholder="Password" class="form-control underline-input" ng-model="user.password" required>
        <span ng-show="formulaire.password.$dirty && formulaire.password.$error.required" class="help-block">Password is required</span>
      </div>

      <div class="form-group text-left mt-20">
        <button type="submit" class="btn btn-greensea b-0 br-2 mr-5" ng-disabled='formulaire.$invalid'>{{ 'Menu.LOGIN' | translate}}</button>
        <label class="checkbox checkbox-custom checkbox-custom-sm inline-block">
          <input type="checkbox"><i></i> Remember me
        </label>
        <a ui-sref="core.forgotpass" class="pull-right mt-10">{{ 'Menu.FORGOT_PASSWORD' | translate}}?</a>
      </div>

    </form>

    <!--hr class="b-3x"/-->

    <div class="bg-slategray lt wrap-reset mt-40">
      <p class="m-0"></p>
    </div>

  </div>

</div>
