<div class="page page-profile">
  <!-- page header -->
  <div class="pageheader">
    <h2>{{page.title}} <span> {{page.subtitle}}</span></h2>
    <div class="page-bar">
      <ul class="page-breadcrumb">
        <li>
          <a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{main.title}}</a>
        </li>
        <li>
          <a href="javascript:;">Extra Pages</a>
        </li>
        <li>
          <a ui-sref="app.profile">{{page.title}}</a>
        </li>
      </ul>

    </div>
  </div>
  <!-- /page header -->
  <!-- page content -->
  <div class="pagecontent">
    <!-- row -->
    <div class="row">
      <!-- col -->
      <div class="col-md-4">
        <!-- tile -->
        <section class="tile tile-simple">
          <!-- tile widget -->
          <div class="tile-widget p-30 text-center">
            <div class="thumb thumb-xl">
              <img class="img-circle" src="images/avatar.jpg" alt="">
            </div>
            <h4 class="mb-0"><strong>{{currentUser.firstname}}</strong> {{currentUser.lastname}}</h4>
            <span class="text-muted">{{currentUser.profil}}</span>
          </div>
          <!-- /tile widget -->

          <!-- /tile body -->
        </section>
        <!-- /tile -->
      </div>
      <!-- /col -->
      <!-- col -->
      <div class="col-md-8">
        <!-- tile -->
        <section class="tile tile-simple">
          <!-- tile body -->
          <div class="tile-body p-0">
            <uib-tabset class="tabs-dark">
              <uib-tab heading="Settings">
                <div class="wrap-reset">
                  <form name="formulaire" class="profile-settings" novalidate ng-submit="update()">

                    <div class="form-message" ng-class="{'error' : error, 'success': !error}" ng-show="message !== null">{{ message }}</div>

                    <div class="row">
                      <div class="form-group col-md-12 legend">
                        <h4><strong>Personal</strong> Settings</h4>
                        <p>Your personal account settings</p>
                      </div>
                    </div>

                    <div class="row">
                      <div class="form-group col-sm-6" ng-class="{ 'has-error': formulaire.firstname.$dirty && formulaire.firstname.$error.required }">
                        <label for="firstname">First Name</label>
                        <input type="text" name="firstname" id="firstname" class="form-control" value="{{currentUser.firstname}}" ng-model="editUser.firstname" required>
                        <span ng-show="formulaire.firstname.$dirty && formulaire.firstname.$error.required" class="help-block">Firstname is required</span>
                      </div>
                      <div class="form-group col-sm-6" ng-class="{ 'has-error': formulaire.lastname.$dirty && formulaire.lastname.$error.required }">
                        <label for="lastname">Last Name</label>
                        <input type="text" name="lastname" id="lastname" class="form-control" value="{{currentUser.lastname}}" ng-model="editUser.lastname" required>
                        <span ng-show="formulaire.lastname.$dirty && formulaire.lastname.$error.required" class="help-block">Lastname is required</span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-sm-12" ng-class="{ 'has-error': formulaire.address.$dirty && formulaire.address.$error.required }">
                        <label for="address">Address </label>
                        <input type="text" name="address" id="address" class="form-control" value="{{currentUser.address}}" ng-model="editUser.address" required>
                        <span ng-show="formulaire.address.$dirty && formulaire.address.$error.required" class="help-block">Address is required</span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-sm-6" ng-class="{ 'has-error': formulaire.email.$dirty && formulaire.email.$error.required }">
                        <label for="email">E-mail</label>
                        <input type="email" name="email" id="email" class="form-control" id="email" value="{{currentUser.email}}" ng-model="editUser.email" readonly required>
                        <span ng-show="formulaire.email.$dirty && formulaire.email.$error.required" class="help-block">Email is required</span>
                      </div>
                      <div class="form-group col-sm-6" ng-class="{ 'has-error': formulaire.phone.$dirty && formulaire.phone.$error.required }">
                        <label for="phone">Phone</label>
                        <input type="text" name="phone" id="phone" class="form-control" value="{{currentUser.phone}}" ng-model="editUser.phone" required>
                        <span ng-show="formulaire.phone.$dirty && formulaire.phone.$error.required" class="help-block">Phone is required</span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-md-12 legend">
                        <h4><strong>Security</strong> Settings</h4>
                        <p>Secure your account</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-sm-6" ng-class="{ 'has-error': formulaire.username.$dirty && formulaire.username.$error.required }">
                        <label for="username">Username</label>
                        <input type="text" name="username" id="username" class="form-control" value="{{currentUser.username}}" ng-model="editUser.username" readonly required>
                        <span ng-show="formulaire.username.$dirty && formulaire.username.$error.required" class="help-block">Username is required</span>
                      </div>
                      <div class="form-group col-sm-6" ng-class="{ 'has-error': formulaire.password.$dirty && formulaire.password.$error.required }">
                        <label for="password">Current Password</label>
                        <input type="password" name="password" id="password" class="form-control" id="password" value="{{currentUser.current_password}}" ng-model="editUser.current_password" required>
                        <span ng-show="formulaire.password.$dirty && formulaire.password.$error.required" class="help-block">Current Password is required</span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-sm-6">
                        <button type="submit" class="btn btn-greensea b-0 br-2 mr-5 block" ng-disabled='formulaire.$invalid'>Update</button>
                      </div>
                    </div>
                  </form>
                </div>
              </uib-tab>
            </uib-tabset>
          </div>
          <!-- /tile body -->
        </section>
        <!-- /tile -->
      </div>
      <!-- /col -->
    </div>
    <!-- /row -->
  </div>
  <!-- /page content -->
</div>
