<div class="page page-orders">
  <!-- page header -->
  <div class="pageheader">
    <h2>{{page.title}} <span>// {{page.subtitle}}</span></h2>
    <div class="page-bar">
      <ul class="page-breadcrumb">
        <li>
          <a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{main.title}}</a>
        </li>
        <li>
          <a href="javascript:;">User</a>
        </li>
        <li>
          <a ui-sref="app.shop.list">{{page.title}}</a>
        </li>
      </ul>
    </div>
  </div>
  <!-- /page header -->
  <!-- page content -->
  <div class="pagecontent">
    <!-- row -->
    <div class="row">
      <!-- col -->
      <div class="col-md-12">
        <!-- tile -->
        <section class="tile" fullscreen="isFullscreen01">
          <!-- tile header -->
          <div class="tile-header dvd dvd-btm">
            <h1 class="custom-font"><strong>User's</strong> List</h1>
            <ul class="controls">
              <li><a ui-sref="app.user.signup"><i class="fa fa-plus mr-5"></i> New user</a></li>
              <!--li class="dropdown" uib-dropdown on-toggle="toggled(open)">
                <a href class="dropdown-toggle" uib-dropdown-toggle>{{ 'Content.TOOLS' | translate }} <i class="fa fa-angle-down ml-5"></i></a>
                <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                  <li>
                    <a href>{{ 'Content.EXPORT' | translate }}</a>
                  </li>
                </ul>
              </li-->
              <li class="dropdown" uib-dropdown on-toggle="toggled(open)">
                <a href uib-dropdown-toggle class="dropdown-toggle settings"><i class="fa fa-cog"></i></a>
                <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                  <li>
                    <a href tile-control-toggle>
                      <span class="minimize"><fa name="angle-down"></fa>&nbsp;&nbsp;&nbsp;{{ 'Content.MINIMIZE' | translate }}</span>
                      <span class="expand"><fa name="angle-up"></fa>&nbsp;&nbsp;&nbsp;{{ 'Content.EXPAND' | translate }}</span>
                    </a>
                  </li>
                  <li>
                    <a href tile-control-refresh ng-click="reloadData()">
                      <fa name="refresh"></fa> {{ 'Content.REFRESH' | translate }}
                    </a>
                  </li>
                  <li>
                    <a href tile-control-fullscreen ng-click="isFullscreen01 = !isFullscreen01">
                      <fa name="expand"></fa> {{ 'Content.FULLSCREEN' | translate }}
                    </a>
                  </li>
                </ul>
              </li>
              <li class="remove"><a href tile-control-close><i class="fa fa-times"></i></a></li>
            </ul>
          </div>
          <!-- /tile header -->
          <!-- tile body -->
          <div class="tile-body" ng-controller="UserTableCtrl as showcase">
            <!--label>Rechercher: <input type="text" placeholder="Rechercher" id="customFilter"/></label-->
          	<table id="recordDataTable" datatable="" dt-options="showcase.dtOptions" dt-columns="showcase.dtColumns" dt-instance="showcase.dtInstance" class="table table-custom"></table>
          </div>
          <!-- /tile body -->
        </section>
        <!-- /tile -->
      </div>
      <!-- /col -->
    </div>
    <!-- /row -->
  </div>
  <!-- /page content -->
</div>
