<div class="page page-login">
	<!-- page header -->
	<div class="pageheader">
		<h2>
			{{page.title}} <span>// {{page.subtitle}}</span>
		</h2>
		<div class="page-bar">
			<ul class="page-breadcrumb">
				<li><a ui-sref="app.dashboard"><i class="fa fa-home"></i>
						{{main.title}}</a></li>
				<li><a ui-sref="app.user.list">User</a></li>
				<li><a ui-sref="app.user.new">{{page.title}}</a></li>
			</ul>
		</div>
	</div>
	<!-- /page header -->
	<!-- page content -->
	<div class="pagecontent">
		<!-- row -->
		<div class="row">
			<!-- col -->
			<div class="col-md-12">
				<form name="formulaire" class="form-validation mt-20" novalidate
					ng-submit="signUp()">
					<!-- tile -->
					<section class="tile" fullscreen="isFullscreen01">
						<!-- tile header -->
						<div class="tile-header dvd dvd-btm">
							<h1 class="custom-font">
								<strong>User's</strong> Registration
							</h1>
							<ul class="controls">
								<li><a href tile-control-toggle> <span class="minimize"><fa
												name="angle-down"></fa>&nbsp;&nbsp;&nbsp;Minimize</span> <span
										class="expand"><fa name="angle-up"></fa>&nbsp;&nbsp;&nbsp;Expand</span>
								</a></li>
								<li><a href tile-control-refresh ng-click="ajaxFaker()">
										<fa name="refresh"></fa> Refresh
								</a></li>
								<li><a href tile-control-fullscreen
									ng-click="isFullscreen01 = !isFullscreen01"> <fa
											name="expand"></fa> Fullscreen
								</a></li>
							</ul>
						</div>
						<!-- /tile header -->
						<!-- tile body -->
						<div class="tile-body">
							<div class="form-message" ng-class="{'error' : error, 'success': !error}" ng-show="message !== null">{{ message }}</div>
							<div class="row">
								<div class="form-group  col-sm-6" ng-class="{ 'has-error': (formulaire.firstname.$dirty && formulaire.firstname.$error.required) || formError.firstname }">
									<input type="text" name="firstname" id="firstname" class="form-control underline-input" placeholder="FirstName" ng-model="form.firstname" required> 
									<span ng-show="formulaire.firstname.$dirty && formulaire.firstname.$error.required" class="help-block">FirstName is required</span>
									<span ng-show="formError.fisrtname" class="help-block">{{ formError.firstname }}</span>
								</div>
								<div class="form-group  col-sm-6" ng-class="{ 'has-error': (formulaire.lastname.$dirty && formulaire.lastname.$error.required) || formError.lastname }">
									<input type="text" name="lastname" id="lastname" class="form-control underline-input" placeholder="LastName" ng-model="form.lastname" required> 
									<span ng-show="formulaire.lastname.$dirty && formulaire.lastname.$error.required" class="help-block">LastName is required</span>
									<span ng-show="formError.lastname" class="help-block">{{ formError.lastname }}</span>
								</div>
							</div>
							<div class="form-group" ng-class="{ 'has-error': (formulaire.address.$dirty && formulaire.address.$error.required) || formError.address }">
								<input type="text" name="address" id="address" class="form-control underline-input" placeholder="Address" ng-model="form.address" required> 
								<span ng-show="formulaire.address.$dirty && formulaire.address.$error.required" class="help-block">Address is required</span>
								<span ng-show="formError.address" class="help-block">{{ formError.address }}</span>
							</div>
							<div class="row">
								<div class="form-group col-sm-9" ng-class="{ 'has-error': (formulaire.email.$dirty && formulaire.email.$error.required) || formError.email }">
									<input type="email" class="form-control underline-input" placeholder="Email" ng-model="form.email" required> 
									<span ng-show="formulaire.email.$dirty && formulaire.email.$error.required" class="help-block">Email is required</span>
									<span ng-show="formError.email" class="help-block">{{ formError.email }}</span>
								</div>
								<div class="form-group col-sm-3" ng-class="{ 'has-error': (formulaire.phone.$dirty && formulaire.phone.$error.required) || formError.phone }">
									<input type="tel" name="phone" id="phone" class="form-control underline-input" placeholder="Phone" ng-model="form.phone" minlength="9" required> 
									<span ng-show="formulaire.phone.$dirty && formulaire.phone.$error.required" class="help-block">Phone is required</span>
									<span ng-show="formError.phone" class="help-block">{{ formError.phone }}</span>
								</div>
							</div>
							<div class="row">
								<div class="form-group col-sm-5" ng-class="{ 'has-error': (formulaire.username.$dirty && formulaire.username.$error.required) || formError.username }">
									<input type="text" name="username" id="username" class="form-control underline-input" placeholder="Username" ng-model="form.username" required> 
									<span ng-show="formulaire.username.$dirty && formulaire.username.$error.required" class="help-block">Username is required</span>
									<span ng-show="formError.username" class="help-block">{{ formError.username }}</span>
								</div>
								<div class="form-group col-sm-4"
									ng-class="{ 'has-error': formulaire.password.$dirty && formulaire.password.$error.required }">
									<input type="text" name="password" id="password" placeholder="Password" class="form-control underline-input"
										ng-model="form.plainPassword.first" minlength="10" readonly required> 
									<span ng-show="formulaire.password.$dirty && formulaire.password.$error.required" class="help-block">Password is required</span>
								</div>
								<div class="checkbox col-sm-3">
									<label class="checkbox checkbox-custom"> 
										<input type="checkbox" name="roles" id="roles" ng-model="form.roles" ng-true-value="'ROLE_ADMIN'" ng-false-value="'ROLE_USER'"><i></i>
										est administrateur
									</label>
								</div>
							</div>
							<div class="form-group" ng-class="{ 'has-error': formError.puce }">
								<ui-select multiple ng-model="form.puce" ng-disabled="disabled" class="w-md">
				                    <ui-select-match placeholder="Select sim ...">{{ $item.phonecode }} {{ $item.number }}</ui-select-match>
				                    <ui-select-choices repeat="puce.id as puce in arrPuce | filter:$select.search">{{ puce.number }}</ui-select-choices>
			                  	</ui-select>
								<span ng-show="formError.puce" class="help-block">{{ formError.puce }}</span>
		                  	</div>
						</div>
						<div class="tile-footer text-right bg-tr-black lter dvd dvd-top">
							<p class="m-0">
								<button type="submit"
									class="btn btn-greensea b-0 text-uppercase pull-right"
									ng-disabled='formulaire.$invalid'>Submit</button>
								<a ui-sref="app.user.list"
									class="btn btn-lightred b-0 text-uppercase">Back</a>
							</p>
						</div>
					</section>
				</form>
			</div>
		</div>
	</div>
</div>
