<div class="page page-login">
	<!-- page header -->
	<div class="pageheader">
		<h2>{{page.title}} <span>// {{page.subtitle}}</span></h2>
		<div class="page-bar">
			<ul class="page-breadcrumb">
				<li><a ui-sref="app.dashboard"><i class="fa fa-home"></i>{{main.title}}</a></li>
				<li><a ui-sref="app.sim.list">Sim Card</a></li>
				<li><a href="javascript:;">{{page.title}}</a></li>
			</ul>
		</div>
	</div>
	<!-- /page header -->
	<!-- page content -->
	<div class="pagecontent">
		<!-- row -->
		<div class="row">
			<!-- col -->
			<div class="col-md-12">
				<form name="formulaire" class="form-validation mt-20" novalidate ng-submit="update()">
					<!-- tile -->
					<section class="tile" fullscreen="isFullscreen01">
						<!-- tile header -->
						<div class="tile-header dvd dvd-btm">
							<h1 class="custom-font">
								<strong>Sim Card's</strong> edition
							</h1>
							<ul class="controls">
								<li>
									<a href tile-control-toggle> <span class="minimize">
										<fa name="angle-down"></fa>&nbsp;&nbsp;&nbsp;Minimize</span>
										<span class="expand"><fa name="angle-up"></fa>&nbsp;&nbsp;&nbsp;Expand</span>
									</a>
								</li>
								<li>
									<a href tile-control-refresh ng-click="ajaxFaker()"><fa name="refresh"></fa> Refresh</a>
								</li>
								<li>
									<a href tile-control-fullscreen ng-click="isFullscreen01 = !isFullscreen01"> <fa name="expand"></fa> Fullscreen</a>
								</li>
							</ul>
						</div>
						<!-- /tile header -->
						<!-- tile body -->
						<div class="tile-body">
							<div class="form-message" ng-class="{'error' : error, 'success': !error}" ng-show="message !== null">{{ message }}</div>
							<div class="row">
								<div class="form-group col-sm-6" ng-class="{ 'has-error': (formulaire.clientPays.$dirty && formulaire.pays.$error.required) || formError.pays !== null }">
									<select name="pays" class="form-control mb-10" ng-options="item.id as item.libelle for item in arrCountry" ng-model="form.pays" required>
										<option value="">Select a country ...</option>
									</select>
									<span ng-show="formulaire.pays.$dirty && formulaire.pays.$error.required" class="help-block">Country is required</span>
									<span ng-show="formError.pays !== null" class="help-block">{{ formError.pays }}</span>
								</div>
							</div>
							<div class="row">
								<div class="form-group col-sm-6" ng-class="{ 'has-error': (formulaire.telephone.$dirty && formulaire.telephone.$error.required) || formError.telephone !== null }">
									<input type="number" name="telephone" id="simnumber" class="form-control underline-input" placeholder="Sim number" ng-model="form.telephone" required>
									<span ng-show="formulaire.telephone.$dirty && formulaire.telephone.$error.required" class="help-block">Sim Name is required</span>
									<span ng-show="formError.telephone !== null" class="help-block">{{ formError.telephone }}</span>
								</div>
								<div class="form-group col-sm-6" ng-class="{ 'has-error': (formulaire.motdepasse.$dirty && formulaire.motdepasse.$error.required) || formError.motdepasse !== null }">
									<input type="number" name="motdepasse" id="simpassword" class="form-control underline-input" placeholder="Sim password" ng-model="form.motdepasse" maxlength="4" minlength="4" required>
									<span ng-show="formulaire.motdepasse.$dirty && formulaire.motdepasse.$error.required" class="help-block">Sim Password is required</span>
									<span ng-show="formError.motdepasse !== null" class="help-block">{{ formError.motdepasse }}</span>
								</div>
							</div>
						</div>
						<div class="tile-footer text-right bg-tr-black lter dvd dvd-top">
							<p class="m-0">
								<button type="submit" class="btn btn-greensea b-0 text-uppercase pull-right" ng-disabled='formulaire.$invalid'>Submit</button>
								<a ui-sref="app.sim.list" class="btn btn-lightred b-0 text-uppercase">Back</a>
							</p>
						</div>
					</section>
				</form>
			</div>
		</div>
	</div>
</div>
