<div class="page page-login">
	<!-- page header -->
	<div class="pageheader">
		<h2>{{page.title}} <span>// {{page.subtitle}}</span></h2>
		<div class="page-bar">
			<ul class="page-breadcrumb">
				<li><a ui-sref="app.dashboard"><i class="fa fa-home"></i>{{main.title}}</a></li>
				<li><a ui-sref="app.country.list">Country</a></li>
				<li><a href="javascript:;">{{page.title}}</a></li>
			</ul>
		</div>
	</div>
	<!-- /page header -->
	<!-- page content -->
	<div class="pagecontent">
		<!-- row -->
		<div class="row">
			<!-- col -->
			<div class="col-md-12">
				<form name="formulaire" class="form-validation mt-20" novalidate ng-submit="update()">
					<!-- tile -->
					<section class="tile" fullscreen="isFullscreen01">
						<!-- tile header -->
						<div class="tile-header dvd dvd-btm">
							<h1 class="custom-font">
								<strong>Country</strong> edition
							</h1>
							<ul class="controls">
								<li>
									<a href tile-control-toggle> <span class="minimize">
										<fa name="angle-down"></fa>&nbsp;&nbsp;&nbsp;Minimize</span>
										<span class="expand"><fa name="angle-up"></fa>&nbsp;&nbsp;&nbsp;Expand</span>
									</a>
								</li>
								<li>
									<a href tile-control-refresh ng-click="ajaxFaker()"><fa name="refresh"></fa> Refresh</a>
								</li>
								<li>
									<a href tile-control-fullscreen ng-click="isFullscreen01 = !isFullscreen01"> <fa name="expand"></fa> Fullscreen</a>
								</li>
							</ul>
						</div>
						<!-- /tile header -->
						<!-- tile body -->
						<div class="tile-body">
							<div class="form-message" ng-class="{'error' : error, 'success': !error}" ng-show="message !== null">{{ message }}</div>
							<div class="row">
								<div class="row">
									<div class="form-group col-sm-4">
										<h3 class="text-uppercase text-success mt-0 mb-20">{{ country.name }}</h3>
									</div>
									<div class="form-group col-sm-4" ng-class="{ 'has-error': (formulaire.classicalCode.$dirty && formulaire.classicalCode.$error.required) }">
										<input type="text" class="form-control underline-input" placeholder="Classical code" ng-model="form.classicalCode" required>
										<span ng-show="formulaire.classicalCode.$dirty && formulaire.classicalCode.$error.required" class="help-block">Classical Code is required</span>
										<span ng-show="formError.classicalCode !== null" class="help-block">{{ formError.classicalCode }}</span>
									</div>
									<div class="form-group col-sm-4" ng-class="{ 'has-error': (formulaire.tacCode.$dirty && formulaire.tacCode.$error.required) }">
										<input type="text" class="form-control underline-input" placeholder="TAC code" ng-model="form.tacCode" required>
										<span ng-show="formulaire.ussd.$dirty && formulaire.ussd.$error.required" class="help-block">TAC Code is required</span>
										<span ng-show="formError.tacCode !== null" class="help-block">{{ formError.tacCode }}</span>
									</div>
								</div>
							</div>
						</div>
						<div class="tile-footer text-right bg-tr-black lter dvd dvd-top">
							<p class="m-0">
								<button type="submit" class="btn btn-greensea b-0 text-uppercase pull-right" ng-disabled='formulaire.$invalid'>Submit</button>
								<a ui-sref="app.country.list" class="btn btn-lightred b-0 text-uppercase">Back</a>
							</p>
						</div>
					</section>
				</form>
			</div>
		</div>
	</div>
</div>
