<header ng-controller="MainCtrl" class="clearfix"> <!-- Branding --> <div class="branding {{main.settings.brandingColor}}"> <a class="brand" ui-sref="app.dashboard"> <span><strong>Trans</strong>Mobile</span> </a> <a href="javascript:;" class="offcanvas-toggle visible-xs-inline" offcanvas-sidebar><i class="fa fa-bars"></i></a> </div> <!-- Branding end --> <!-- Left-side navigation --> <!-- Left-side navigation --> <ul class="nav-left pull-left list-unstyled list-inline"> <li class="sidebar-collapse divided-right"> <a href="javascript:;" collapse-sidebar> <fa name="outdent"></fa> </a> </li> <!--li class="dropdown divided-right settings" uib-dropdown>
      <a href class="dropdown-toggle" uib-dropdown-toggle>
        <fa name="cog"></fa>
      </a>
      <ul class="dropdown-menu with-arrow animated littleFadeInUp" role="menu">
        <li>

          <ul class="color-schemes list-inline">
            <li class="title">Header Color:</li>
            <li><a href="javascript:;" class="scheme-drank" ng-click="main.settings.navbarHeaderColor='scheme-default'; $event.stopPropagation()"></a></li>
            <li><a href="javascript:;" class="scheme-black" ng-click="main.settings.navbarHeaderColor='scheme-black'; $event.stopPropagation()"></a></li>
            <li><a href="javascript:;" class="scheme-greensea" ng-click="main.settings.navbarHeaderColor='scheme-greensea'; $event.stopPropagation()"></a></li>
            <li><a href="javascript:;" class="scheme-cyan" ng-click="main.settings.navbarHeaderColor='scheme-cyan'; $event.stopPropagation()"></a></li>
            <li><a href="javascript:;" class="scheme-lightred" ng-click="main.settings.navbarHeaderColor='scheme-lightred'; $event.stopPropagation()"></a></li>
            <li><a href="javascript:;" class="scheme-light" ng-click="main.settings.navbarHeaderColor='scheme-light'; $event.stopPropagation()"></a></li>
            <li class="title">Branding Color:</li>
            <li><a href="javascript:;" class="scheme-drank" ng-click="main.settings.brandingColor='scheme-default'; $event.stopPropagation()"></a></li>
            <li><a href="javascript:;" class="scheme-black" ng-click="main.settings.brandingColor='scheme-black'; $event.stopPropagation()"></a></li>
            <li><a href="javascript:;" class="scheme-greensea" ng-click="main.settings.brandingColor='scheme-greensea'; $event.stopPropagation()"></a></li>
            <li><a href="javascript:;" class="scheme-cyan" ng-click="main.settings.brandingColor='scheme-cyan'; $event.stopPropagation()"></a></li>
            <li><a href="javascript:;" class="scheme-lightred" ng-click="main.settings.brandingColor='scheme-lightred'; $event.stopPropagation()"></a></li>
            <li><a href="javascript:;" class="scheme-light" ng-click="main.settings.brandingColor='scheme-light'; $event.stopPropagation()"></a></li>
            <li class="title">Sidebar Color:</li>
            <li><a href="javascript:;" class="scheme-drank" ng-click="main.settings.sidebarColor='scheme-default'; $event.stopPropagation()"></a></li>
            <li><a href="javascript:;" class="scheme-black" ng-click="main.settings.sidebarColor='scheme-black'; $event.stopPropagation()"></a></li>
            <li><a href="javascript:;" class="scheme-greensea" ng-click="main.settings.sidebarColor='scheme-greensea'; $event.stopPropagation()"></a></li>
            <li><a href="javascript:;" class="scheme-cyan" ng-click="main.settings.sidebarColor='scheme-cyan'; $event.stopPropagation()"></a></li>
            <li><a href="javascript:;" class="scheme-lightred" ng-click="main.settings.sidebarColor='scheme-lightred'; $event.stopPropagation()"></a></li>
            <li><a href="javascript:;" class="scheme-light" ng-click="main.settings.sidebarColor='scheme-light'; $event.stopPropagation()"></a></li>
            <li class="title">Active Color:</li>
            <li><a href="javascript:;" class="scheme-drank" ng-click="main.settings.activeColor='drank-scheme-color'; $event.stopPropagation()"></a></li>
            <li><a href="javascript:;" class="scheme-black" ng-click="main.settings.activeColor='black-scheme-color'; $event.stopPropagation()"></a></li>
            <li><a href="javascript:;" class="scheme-greensea" ng-click="main.settings.activeColor='default-scheme-color'; $event.stopPropagation()"></a></li>
            <li><a href="javascript:;" class="scheme-cyan" ng-click="main.settings.activeColor='cyan-scheme-color'; $event.stopPropagation()"></a></li>
            <li><a href="javascript:;" class="scheme-lightred" ng-click="main.settings.activeColor='lightred-scheme-color'; $event.stopPropagation()"></a></li>
            <li><a href="javascript:;" class="scheme-light" ng-click="main.settings.activeColor='light-scheme-color'; $event.stopPropagation()"></a></li>
          </ul>

        </li>
      </ul>
    </li--> </ul> <!-- Left-side navigation end --> <!-- Left-side navigation end --> <!-- Right-side navigation --> <ul class="nav-right pull-right list-inline"> <li class="dropdown nav-profile" uib-dropdown> <a href class="dropdown-toggle" uib-dropdown-toggle> <img src="images/avatar.71382b11.jpg" alt="" class="img-circle size-30x30"> <span>{{ currentUser.firstname}} {{ currentUser.lastname}}<fa name="angle-down"></fa></span> </a> <ul class="dropdown-menu animated littleFadeInRight" role="menu"> <li> <a ui-sref="app.profile"> <i class="fa fa-user"></i> <span>{{ 'Menu.PROFILE_PAGE' | translate }}</span> </a> </li> <li> <a ng-click="lock()" style="cursor:pointer"> <i class="fa fa-lock"></i> <span>{{ 'Menu.LOCK' | translate }}</span> </a> </li> <li class="divider"></li> <li> <a ui-sref="app.changepass"> <i class="fa fa-key"></i> <span>{{ 'Menu.CHANGE_PASSWORD' | translate }}</span> </a> </li> <li class="divider"></li> <li> <a ng-click="logout()" style="cursor:pointer"> <i class="fa fa-sign-out"></i> <span>{{ 'Menu.LOGOUT' | translate }}</span> </a> </li> </ul> </li> <li class="dropdown language" uib-dropdown> <a href class="dropdown-toggle" uib-dropdown-toggle> <img ng-show="currentLanguage == 'en'" src="images/flags/United-Kingdom.99f4dffe.png" alt=""> <img ng-show="currentLanguage == 'fr'" src="images/flags/France.dd0b3b2c.png" alt=""> </a> <ul class="dropdown-menu pull-right with-arrow animated littleFadeInDown" role="menu"> <li ng-class="{active: currentLanguage == 'en'}"> <a href="javascript:;" ng-click="changeLanguage('en')"> <img src="images/flags/United-Kingdom.99f4dffe.png" alt=""> English </a> </li> <li ng-class="{active: currentLanguage == 'fr'}"> <a href="javascript:;" ng-click="changeLanguage('fr')"> <img src="images/flags/France.dd0b3b2c.png" alt=""> France </a> </li> </ul> </li> </ul> <!-- Right-side navigation end --> </header> 